In [7]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline
# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [8]:
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
# The "requests" library makes working with HTTP requests easier
# than the built-in urllib libraries.
import requests

In [9]:
#PARAMETERS
YEAR_START = 2014
YEAR_END = 2014
TYPE = "feature"

In [10]:
# here we access the webpage and download the content using requests
page=requests.get("http://www.imdb.com/search/title?at=0&sort=alpha&title_type="+TYPE+"&year="+str(YEAR_START)+","+str(YEAR_END))

In [11]:
#First, we get the number of results for this particular year
soup = BeautifulSoup(page.text, "html.parser")
NumResults = soup.find("div", attrs={"class": "leftright"}).find_all("div", attrs={"id": "left"})[0].get_text()
#Output at this point is "\n1-50 of 8,476\ntitles.\n"
NumResults = NumResults.split()[2]

NumResults = int("".join(NumResults.split(',')))   #converting a string of "8,476" to an int of 8476
print NumResults

8997

In [12]:
titles = []
for i in xrange(1,50,50):
    page=requests.get("http://www.imdb.com/search/title?at=0&sort=alpha&start="+str(i)+"&title_type="+TYPE+"&year="+str(YEAR_START)+","+str(YEAR_END))
    soup = BeautifulSoup(page.text, "html.parser")
    rows = soup.find("table", attrs={"class": "results"}).find_all("tr")[1:]
    cleaner = lambda r: [int(r[0].get_text()), r[1].get_text(), r[2].get_text(), r[2].find("a").get("href")]
    titles = titles + [(row.find("td", attrs={"class":"title"}).find("a").get("href")) for row in rows]

print len(titles)

50

In [13]:
urlcache={} #a dict to store the visited urls

In [14]:
def get_page(url):
    # Check if URL has already been visited.
    if (url not in urlcache) or (urlcache[url]==1) or (urlcache[url]==2):
        time.sleep(1)
        # try/except blocks are used whenever the code could generate an exception (e.g. division by zero).
        # In this case we don't know if the page really exists, or even if it does, if we'll be able to reach it.
        try:
            r = requests.get("http://www.imdb.com/%s" % url)

            if r.status_code == 200:
                urlcache[url] = r.text
            else:
                urlcache[url] = 1
        except:
            urlcache[url] = 2
    return urlcache[url]

In [15]:
start = time.time()
for title in titles:
    get_page(title)
print time.time() - start

81.6770000458

In [16]:
print np.sum([(urlcache[k]==1) or (urlcache[k]==2) for k in urlcache])# no one or two's
print len(titles)==len(urlcache)#we got all of the urls

0
True

In [17]:
def movie_info(url,page_text):
    info = {}
    info['url'] = url  
    soup = BeautifulSoup(page_text, "html.parser")
    
    box = soup.find("div", attrs={"id": "full_subnav"})
    if box:
        rows = box.find_all("li")

        for row in rows:
            #print row
            #print row.find("a").get_text()
            if row.find("a").get_text() == "Filming Locations":
                #print row.find("a", attrs={"class": "link ghost"})
                if row.find("a", attrs={"class": "link ghost"}):
                    info['location_page'] = "None"
                else:
                    loc_url = url+'locations?ref_=tt_ql_dt_6'
                    try:
                        r = requests.get("http://www.imdb.com/%s" % loc_url)
                        time.sleep(1)
                        if r.status_code == 200:
                            #print 'here'
                            soup2 = BeautifulSoup(r.text,"html.parser")
                            locations = soup2.find_all("div", attrs={"class": "soda"})
                            #print locations
                            temp = []
                            for location in locations:
                                #print location
                                temp.append(location.find("a").get_text().replace("\n", " "))
                            #print temp
                            info['location_page'] = temp   
                        else:
                            info['location_page'] = "fail"
                    except:
                        info['location_page'] = "fail"

    topbar = soup.find("table", attrs={"id": "title-overview-widget-layout"})
    
    #get information from the first info box
    if topbar:
        infobar = topbar.find("div", attrs={"class": "infobar"})
        if infobar:
            if infobar.find("meta", attrs={"itemprop": "contentRating"}):
                info['contentRating'] = infobar.find("meta", attrs={"itemprop": "contentRating"}).get_text().split()[0]
            if infobar.find("time", attrs={"itemprop": "duration"}):
                info['duration'] = infobar.find("time", attrs={"itemprop": "duration"}).get_text().strip()
            genres = infobar.find_all("span", attrs={"itemprop": "genre"})
            temp = []
            for genre in genres:
                temp.append(genre.get_text())
            info['genre'] = temp
            
            #print infobar.find("meta", attrs={"itemprop": "datePublished"}).
            temp = []            
            release_dates = infobar.find_all("a", attrs={"title": "See all release dates"})
            for dates in release_dates:
                temp.append(dates.get_text().replace("\n", " "))                
            info['release_dates'] = temp

    #get name of movie
    if topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"itemprop":"name"}):
        info['name'] = topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"itemprop":"name"}).get_text()
        info['year'] = topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"class":"nobr"}).get_text()[1:-1]

        
    starbox = topbar.find("div", attrs={"class": "star-box-details"})
    if starbox:
        if starbox.find("span", attrs={"itemprop": "ratingValue"}):
            info['user_ratings'] = starbox.find("span", attrs={"itemprop": "ratingValue"}).get_text()
        if starbox.find("span", attrs={"itemprop": "ratingCount"}):
            info['user_ratings_count'] = starbox.find("span", attrs={"itemprop": "ratingCount"}).get_text()        
        if starbox.find("a", attrs={"href": "criticreviews?ref_=tt_ov_rt"}):
            info['critic_ratings'] = starbox.find("a", attrs={"href": "criticreviews?ref_=tt_ov_rt"}).get_text().strip()      
            
    detailsbox = soup.find("div", attrs={"id": "titleDetails"})
    if detailsbox:
        txtblocks = detailsbox.find_all("div", attrs={"class": "txt-block"})
        for block in txtblocks:
            #print block
            if block.find("h4"):
                if block.find("h4").get_text() == "Country:":
                    info['country'] = block.find("a").get_text()
                if block.find("h4").get_text() == "Language:":
                    info['language'] = block.find("a").get_text()
                if block.find("h4").get_text() == "Budget:":
                    info['budget'] = block.get_text().split()[1]
                if block.find("h4").get_text() == "Opening Weekend:":
                    info['opening_weekend'] = block.get_text().split()[2]
                if block.find("h4").get_text() == "Gross:":
                    info['gross'] = block.get_text().split()[1]
                    #print info['gross']
               
    
    #print info
    return info     

#Testing Code
#k = '/title/tt1951264/'
#r = requests.get("http://www.imdb.com"+k)
#v = r.text

#movie_info(k, v)

In [18]:
movie_info_list=[]

for k,v in urlcache.items():
    movie_info_list.append(movie_info(k, v))

In [19]:
movie_info_list

[{'country': u'Kuwait',
  'duration': u'75 min',
  'genre': [u'Drama', u'Thriller'],
  'language': u'Arabic',
  'location_page': 'None',
  'name': u'090',
  'release_dates': [u' 31 December 2014 (Kuwait) '],
  'url': u'/title/tt4305760/',
  'user_ratings': u'3.9',
  'user_ratings_count': u'36',
  'year': u'2014'},
 {'country': u'Italy',
  'genre': [u'Sci-Fi'],
  'language': u'Italian',
  'location_page': 'None',
  'name': u'12 12 12',
  'release_dates': [u' 6 March 2014 (Italy) '],
  'url': u'/title/tt2353755/',
  'user_ratings': u'2.3',
  'user_ratings_count': u'19',
  'year': u'2014'},
 {'country': u'USA',
  'genre': [u'Comedy', u'Romance'],
  'language': u'English',
  'location_page': [u'Los Angeles, California, USA '],
  'name': u'10 Things I Hate About Life',
  'release_dates': [u' 2014 (USA) '],
  'url': u'/title/tt2402917/',
  'year': u'2014'},
 {'contentRating': u'R',
  'country': u'Spain',
  'critic_ratings': u'75/100',
  'duration': u'99 min',
  'genre': [u'Comedy', u'Drama', u'Romance'],
  'language': u'Spanish',
  'location_page': [u'Barcelona, Catalonia, Spain ',
   u'Barcelona, Catalonia, Spain '],
  'name': u'10.000 Km',
  'release_dates': [u' 10 July 2015 (USA) '],
  'url': u'/title/tt3114132/',
  'user_ratings': u'6.8',
  'user_ratings_count': u'2,136',
  'year': u'2014'},
 {'contentRating': u'R',
  'country': u'UK',
  'critic_ratings': u'83/100',
  'duration': u'99 min',
  'genre': [u'Action', u'Drama', u'Thriller'],
  'gross': u'$1,268,760',
  'language': u'English',
  'location_page': [u'Park Hill Estate, Sheffield, South Yorkshire, England, UK ',
   u'Picton and Kirkdale, Liverpool, England, UK ',
   u'Stansfield Street and Bank Top, Blackburn, Lancashire, England, UK '],
  'name': u"'71",
  'opening_weekend': u'$55,761',
  'release_dates': [u' 10 October 2014 (UK) '],
  'url': u'/title/tt2614684/',
  'user_ratings': u'7.2',
  'user_ratings_count': u'28,183',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'78 min',
  'genre': [u'Comedy', u'Romance'],
  'language': u'English',
  'location_page': 'None',
  'name': u"'Til Love Comes",
  'release_dates': [],
  'url': u'/title/tt4199762/',
  'year': u'2014'},
 {'country': u'Taiwan',
  'duration': u'110 min',
  'genre': [u'Drama', u'Romance'],
  'language': u'Mandarin',
  'location_page': [u'Tai-tung, Taiwan ',
   u'Hua-lian, Taiwan ',
   u'Taipei, Taiwan '],
  'name': u'Han chan xiao ying',
  'release_dates': [u' 10 October 2014 (China) '],
  'url': u'/title/tt4024410/',
  'user_ratings': u'6.0',
  'user_ratings_count': u'51',
  'year': u'2014'},
 {'country': u'Turkey',
  'duration': u'105 min',
  'genre': [u'Comedy'],
  'language': u'Turkish',
  'location_page': 'None',
  'name': u'10. K\xf6y Teyatora',
  'release_dates': [u' 2 May 2014 (Turkey) '],
  'url': u'/title/tt3746926/',
  'user_ratings': u'4.1',
  'user_ratings_count': u'56',
  'year': u'2014'},
 {'budget': u'IDR',
  'country': u'Indonesia',
  'duration': u'110 min',
  'genre': [u'Drama', u'Family', u'Music'],
  'language': u'Indonesian',
  'location_page': [u'Bontang, Indonesia ', u'Jakarta, Indonesia '],
  'name': u'12 Menit',
  'release_dates': [u' 29 January 2014 (Indonesia) '],
  'url': u'/title/tt3168514/',
  'user_ratings': u'8.2',
  'user_ratings_count': u'57',
  'year': u'2014'},
 {'country': u'Philippines',
  'genre': [u'Drama'],
  'language': u'Filipino',
  'location_page': 'None',
  'name': u'#Y',
  'release_dates': [u' 10 December 2014 (Philippines) '],
  'url': u'/title/tt3887700/',
  'user_ratings': u'7.0',
  'user_ratings_count': u'34',
  'year': u'2014'},
 {'country': u'Russia',
  'duration': u'50 min',
  'genre': [u'Drama'],
  'language': u'Russian',
  'location_page': 'None',
  'name': u'-196',
  'release_dates': [],
  'url': u'/title/tt4333982/',
  'year': u'2014'},
 {'country': u'Spain',
  'genre': [u'Drama'],
  'language': u'Spanish',
  'location_page': 'None',
  'name': u'11211, el barrio de avenidas que se bifurcan',
  'release_dates': [u' 2 June 2014 (Spain) '],
  'url': u'/title/tt3765224/',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'90 min',
  'genre': [u'Family'],
  'language': u'English',
  'location_page': [u'South Carolina, USA '],
  'name': u'12 Dog Days Till Christmas',
  'release_dates': [u' 28 November 2014 (USA) '],
  'url': u'/title/tt3579698/',
  'user_ratings': u'5.6',
  'user_ratings_count': u'85',
  'year': u'2014'},
 {'country': u'Italy',
  'duration': u'94 min',
  'genre': [u'Comedy'],
  'language': u'Italian',
  'location_page': [u'Naples, Campania, Italy '],
  'name': u'... E fuori nevica!',
  'release_dates': [u' 16 October 2014 (Italy) '],
  'url': u'/title/tt4129900/',
  'user_ratings': u'4.8',
  'user_ratings_count': u'103',
  'year': u'2014'},
 {'contentRating': u'R',
  'country': u'USA',
  'duration': u'118 min',
  'genre': [u'Comedy', u'Romance', u'Sport'],
  'language': u'English',
  'location_page': [u'Orem, Utah, USA ', u'Los Angeles, California, USA '],
  'name': u'108 Stitches',
  'release_dates': [u' 12 September 2014 (USA) '],
  'url': u'/title/tt3073898/',
  'user_ratings': u'7.6',
  'user_ratings_count': u'77',
  'year': u'2014'},
 {'budget': u'AUD',
  'country': u'Australia',
  'duration': u'50 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': [u'Campbelltown, NSW, Australia '],
  'name': u'1010',
  'release_dates': [],
  'url': u'/title/tt4034426/',
  'year': u'2014'},
 {'country': u'Norway',
  'critic_ratings': u'65/100',
  'duration': u'93 min',
  'genre': [u'Drama'],
  'language': u'Norwegian',
  'location_page': [u'Oslo, Norway ',
   u'Cologne, North Rhine-Westphalia, Germany ',
   u'Paris, France '],
  'name': u'1001 Gram',
  'release_dates': [u' 26 September 2014 (Norway) '],
  'url': u'/title/tt3346824/',
  'user_ratings': u'6.4',
  'user_ratings_count': u'646',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'88 min',
  'genre': [u'Action', u'Comedy'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10.0 Earthquake',
  'release_dates': [u' 15 October 2014 (USA) '],
  'url': u'/title/tt3488056/',
  'user_ratings': u'3.8',
  'user_ratings_count': u'384',
  'year': u'2014'},
 {'country': u'India',
  'duration': u'120 min',
  'genre': [],
  'language': u'Malayalam',
  'location_page': 'None',
  'name': u'100 Degree Celsius',
  'release_dates': [u' 10 October 2014 (India) '],
  'url': u'/title/tt3885676/',
  'user_ratings': u'3.8',
  'user_ratings_count': u'42',
  'year': u'2014'},
 {'country': u'Chile',
  'duration': u'90 min',
  'genre': [u'Horror', u'Thriller'],
  'language': u'Spanish',
  'location_page': 'None',
  'name': u'(09)',
  'release_dates': [u' 13 March 2014 (Chile) '],
  'url': u'/title/tt2405820/',
  'user_ratings': u'4.3',
  'user_ratings_count': u'11',
  'year': u'2014'},
 {'budget': u'\u20ac20,000',
  'duration': u'73 min',
  'genre': [u'Horror'],
  'language': u'German',
  'location_page': 'None',
  'name': u'11:23-09:59 Projekt Angst',
  'release_dates': [u' 26 September 2014 (Switzerland) '],
  'url': u'/title/tt3985628/',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'89 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 Chance 2 Dance',
  'release_dates': [u' 21 January 2014 (USA) '],
  'url': u'/title/tt2388856/',
  'user_ratings': u'4.7',
  'user_ratings_count': u'214',
  'year': u'2014'},
 {'country': u'Czech Republic',
  'duration': u'100 min',
  'genre': [u'Comedy', u'Romance'],
  'language': u'Czech',
  'location_page': 'None',
  'name': u'10 pravidel jak sbalit holku',
  'release_dates': [u' 20 March 2014 (Czech Republic) '],
  'url': u'/title/tt3021744/',
  'user_ratings': u'5.6',
  'user_ratings_count': u'142',
  'year': u'2014'},
 {'country': u'Singapore',
  'duration': u'90 min',
  'genre': [u'Drama', u'Family'],
  'language': u'Tamil',
  'location_page': 'None',
  'name': u'1021',
  'release_dates': [],
  'url': u'/title/tt3894508/',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'87 min',
  'genre': [u'Crime', u'Drama', u'Thriller'],
  'language': u'English',
  'location_page': [u'Dam, Amsterdam, Netherlands ',
   u'Hollywood, Los Angeles, California, USA '],
  'name': u'11',
  'release_dates': [u' 11 November 2014 (USA) '],
  'url': u'/title/tt3187586/',
  'user_ratings': u'5.0',
  'user_ratings_count': u'5',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'99 min',
  'genre': [u'Drama'],
  'language': u'Spanish',
  'location_page': 'None',
  'name': u'05.RED.04.CLAY',
  'release_dates': [u' 1 October 2014 (Spain) '],
  'url': u'/title/tt4022798/',
  'year': u'2014'},
 {'country': u'Turkey',
  'genre': [u'Action', u'Comedy'],
  'language': u'Turkish',
  'location_page': 'None',
  'name': u'006 ka\xe7is',
  'release_dates': [u' 16 May 2014 (Turkey) '],
  'url': u'/title/tt3283768/',
  'user_ratings': u'3.2',
  'user_ratings_count': u'17',
  'year': u'2014'},
 {'country': u'India',
  'genre': [u'Thriller'],
  'language': u'Malayalam',
  'location_page': 'None',
  'name': u'1 by Two',
  'release_dates': [u' 19 April 2014 (India) '],
  'url': u'/title/tt3686130/',
  'user_ratings': u'5.3',
  'user_ratings_count': u'229',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'83 min',
  'genre': [u'Comedy', u'Drama', u'Romance'],
  'language': u'English',
  'location_page': [u'Los Angeles, California, USA '],
  'name': u'#Stuck',
  'release_dates': [u' 10 October 2014 (USA) '],
  'url': u'/title/tt2075318/',
  'user_ratings': u'5.7',
  'user_ratings_count': u'414',
  'year': u'2014'},
 {'contentRating': u'R',
  'country': u'USA',
  'duration': u'90 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'$50K and a Call Girl: A Love Story',
  'release_dates': [u' 14 January 2014 (USA) '],
  'url': u'/title/tt2106284/',
  'user_ratings': u'7.0',
  'user_ratings_count': u'1,919',
  'year': u'2014'},
 {'budget': u'$50,000',
  'country': u'USA',
  'duration': u'90 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': [u'Cherry Creek Res., Colorado, USA ',
   u'Holiday Chalet, Colorado, USA ',
   u'Santa Fe Art District, Colorado, USA '],
  'name': u'12/10/07: A Dogme 95 film',
  'release_dates': [u' 18 July 2014 (USA) '],
  'url': u'/title/tt3977920/',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'85 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'12 Til Dusk',
  'release_dates': [u' 3 October 2014 (USA) '],
  'url': u'/title/tt4386156/',
  'year': u'2014'},
 {'budget': u'$3,500,000',
  'contentRating': u'Unrated',
  'country': u'USA',
  'critic_ratings': u'37/100',
  'duration': u'91 min',
  'genre': [u'Crime', u'Thriller'],
  'language': u'English',
  'location_page': [u'Los Angeles, California, USA '],
  'name': u'10 Cent Pistol',
  'release_dates': [u' 24 July 2015 (USA) '],
  'url': u'/title/tt2134170/',
  'user_ratings': u'5.0',
  'user_ratings_count': u'239',
  'year': u'2014'},
 {'budget': u'$4,000,000',
  'country': u'Colombia',
  'duration': u'90 min',
  'genre': [u'Drama'],
  'language': u'Spanish',
  'location_page': [u'Medellin, Colombia '],
  'name': u'11 Grados de Culpa',
  'release_dates': [u' 3 October 2014 (Colombia) '],
  'url': u'/title/tt3667144/',
  'year': u'2014'},
 {'country': u'Japan',
  'duration': u'198 min',
  'genre': [u'Drama'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'0.5 miri',
  'release_dates': [u' 17 July 2014 (USA) '],
  'url': u'/title/tt3825360/',
  'user_ratings': u'7.3',
  'user_ratings_count': u'107',
  'year': u'2014'},
 {'country': u'Russia',
  'genre': [u'Comedy', u'Romance'],
  'language': u'Russian',
  'location_page': 'None',
  'name': u'#Nerealnaya lyubov',
  'release_dates': [u' 13 February 2014 (Russia) '],
  'url': u'/title/tt3524032/',
  'user_ratings': u'3.2',
  'user_ratings_count': u'112',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'78 min',
  'genre': [u'Horror'],
  'language': u'English',
  'location_page': [u'Hollywood, Los Angeles, California, USA '],
  'name': u'101: Modern Los Angeles Vampires',
  'release_dates': [u' 1 May 2014 (USA) '],
  'url': u'/title/tt3627828/',
  'user_ratings': u'4.4',
  'user_ratings_count': u'10',
  'year': u'2014'},
 {'country': u'Iran',
  'duration': u'90 min',
  'genre': [u'Drama'],
  'language': u'Persian',
  'location_page': 'None',
  'name': u'Sizdah',
  'release_dates': [u' 4 October 2014 (South Korea) '],
  'url': u'/title/tt4080028/',
  'user_ratings': u'6.9',
  'user_ratings_count': u'99',
  'year': u'2014'},
 {'country': u'Canada',
  'duration': u'108 min',
  'genre': [u'Action'],
  'language': u'English',
  'location_page': 'None',
  'name': u'100 Miles from Hell',
  'release_dates': [u' 10 January 2014 (Canada) '],
  'url': u'/title/tt2955976/',
  'year': u'2014'},
 {'budget': u'$10,990,000',
  'country': u'India',
  'duration': u'170 min',
  'genre': [u'Action', u'Mystery', u'Thriller'],
  'language': u'Telugu',
  'location_page': [u'London Bridge, London, England, UK ',
   u'Belfast, County Antrim, Northern Ireland, UK ',
   u'Hyderabad, Telangana, India ',
   u'Belfast, County Antrim, Northern Ireland, UK ',
   u'Goa, India ',
   u'London, England, UK ',
   u'Goa, India ',
   u'London, England, UK ',
   u'Goa, India '],
  'name': u'1 - Nenokkadine',
  'release_dates': [u' 10 January 2014 (USA) '],
  'url': u'/title/tt2375559/',
  'user_ratings': u'8.7',
  'user_ratings_count': u'32,768',
  'year': u'2014'},
 {'budget': u'$2,500,000',
  'contentRating': u'TV-PG',
  'country': u'USA',
  'duration': u'91 min',
  'genre': [u'Sci-Fi'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10,000 Days',
  'release_dates': [u' 23 November 2014 (USA) '],
  'url': u'/title/tt3530690/',
  'user_ratings': u'2.7',
  'user_ratings_count': u'313',
  'year': u'2014'},
 {'country': u'Sweden',
  'genre': [u'Comedy'],
  'language': u'Swedish',
  'location_page': 'None',
  'name': u'10 000 timmar',
  'release_dates': [u' 4 April 2014 (Sweden) '],
  'url': u'/title/tt3013386/',
  'user_ratings': u'4.3',
  'user_ratings_count': u'446',
  'year': u'2014'},
 {'budget': u'$400,000',
  'country': u'USA',
  'duration': u'95 min',
  'genre': [u'Horror', u'Thriller'],
  'language': u'English',
  'location_page': 'None',
  'name': u'#iKllr',
  'release_dates': [u' 2014 (USA) '],
  'url': u'/title/tt2477324/',
  'year': u'2014'},
 {'budget': u'$1,500,000',
  'country': u'China',
  'duration': u'108 min',
  'genre': [u'Crime', u'Drama'],
  'language': u'Chinese',
  'location_page': [u'Beijing, China '],
  'name': u'12 Citizens',
  'release_dates': [u' 15 May 2015 (China) '],
  'url': u'/title/tt3431598/',
  'user_ratings': u'7.1',
  'user_ratings_count': u'210',
  'year': u'2014'},
 {'country': u'Japan',
  'duration': u'113 min',
  'genre': [u'Comedy', u'Drama'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'Hyakuen no koi',
  'release_dates': [u' 15 November 2014 (Japan) '],
  'url': u'/title/tt4080598/',
  'user_ratings': u'7.2',
  'user_ratings_count': u'336',
  'year': u'2014'},
 {'country': u'Germany',
  'duration': u'89 min',
  'genre': [u'Comedy', u'Crime', u'Drama'],
  'language': u'German',
  'location_page': [u'Frankfurt am Main, Hessen, Germany ',
   u'Mainz, Rhineland-Palatinate, Germany ',
   u'Wiesbaden, Hessen, Germany ',
   u'Opunake, Taranaki, New Zealand ',
   u'New York City, New York, USA ',
   u'Vienna, Austria '],
  'name': u'...and the Rest is History',
  'release_dates': [u' September 2014 (Germany) '],
  'url': u'/title/tt4533680/',
  'year': u'2014'},
 {'country': u'Japan',
  'duration': u'80 min',
  'genre': [u'Drama'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'1/11',
  'release_dates': [u' 5 April 2014 (Japan) '],
  'url': u'/title/tt3569968/',
  'year': u'2014'},
 {'country': u'Israel',
  'duration': u'84 min',
  'genre': [u'Comedy', u'Drama', u'Family'],
  'language': u'Hebrew',
  'location_page': 'None',
  'name': u'10% My Child',
  'release_dates': [u' 28 March 2015 (USA) '],
  'url': u'/title/tt2339406/',
  'user_ratings': u'6.5',
  'user_ratings_count': u'19',
  'year': u'2014'},
 {'country': u'USA',
  'genre': [u'Thriller'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1108',
  'release_dates': [u' 31 January 2014 (USA) '],
  'url': u'/title/tt2818632/',
  'user_ratings': u'6.2',
  'user_ratings_count': u'8',
  'year': u'2014'},
 {'budget': u'INR',
  'country': u'India',
  'genre': [u'Horror'],
  'language': u'Tamil',
  'location_page': 'None',
  'name': u'13',
  'release_dates': [u' 13 September 2014 (India) '],
  'url': u'/title/tt3848510/',
  'year': u'2014'}]

In [20]:
fd = open("tempdata/movieinfo.json","w")
json.dump(movie_info_list, fd)
fd.close()

In [21]:
df = pd.DataFrame(movie_info_list)

In [22]:
df

         budget contentRating         country critic_ratings duration                        genre       gross    language                                      location_page                                          name opening_weekend                        release_dates                url user_ratings user_ratings_count  year
0           NaN           NaN          Kuwait            NaN   75 min            [Drama, Thriller]         NaN      Arabic                                               None                                           090             NaN        [ 31 December 2014 (Kuwait) ]  /title/tt4305760/          3.9                 36  2014
1           NaN           NaN           Italy            NaN      NaN                     [Sci-Fi]         NaN     Italian                                               None                                      12 12 12             NaN             [ 6 March 2014 (Italy) ]  /title/tt2353755/          2.3                 19  2014
2           NaN           NaN             USA            NaN      NaN            [Comedy, Romance]         NaN     English                    [Los Angeles, California, USA ]                   10 Things I Hate About Life             NaN                       [ 2014 (USA) ]  /title/tt2402917/          NaN                NaN  2014
3           NaN             R           Spain         75/100   99 min     [Comedy, Drama, Romance]         NaN     Spanish  [Barcelona, Catalonia, Spain , Barcelona, Cata...                                     10.000 Km             NaN               [ 10 July 2015 (USA) ]  /title/tt3114132/          6.8              2,136  2014
4           NaN             R              UK         83/100   99 min    [Action, Drama, Thriller]  $1,268,760     English  [Park Hill Estate, Sheffield, South Yorkshire,...                                           '71         $55,761             [ 10 October 2014 (UK) ]  /title/tt2614684/          7.2             28,183  2014
5           NaN           NaN             USA            NaN   78 min            [Comedy, Romance]         NaN     English                                               None                               'Til Love Comes             NaN                                   []  /title/tt4199762/          NaN                NaN  2014
6           NaN           NaN          Taiwan            NaN  110 min             [Drama, Romance]         NaN    Mandarin  [Tai-tung, Taiwan , Hua-lian, Taiwan , Taipei,...                            Han chan xiao ying             NaN          [ 10 October 2014 (China) ]  /title/tt4024410/          6.0                 51  2014
7           NaN           NaN          Turkey            NaN  105 min                     [Comedy]         NaN     Turkish                                               None                              10. Köy Teyatora             NaN              [ 2 May 2014 (Turkey) ]  /title/tt3746926/          4.1                 56  2014
8           IDR           NaN       Indonesia            NaN  110 min       [Drama, Family, Music]         NaN  Indonesian         [Bontang, Indonesia , Jakarta, Indonesia ]                                      12 Menit             NaN      [ 29 January 2014 (Indonesia) ]  /title/tt3168514/          8.2                 57  2014
9           NaN           NaN     Philippines            NaN      NaN                      [Drama]         NaN    Filipino                                               None                                            #Y             NaN   [ 10 December 2014 (Philippines) ]  /title/tt3887700/          7.0                 34  2014
10          NaN           NaN          Russia            NaN   50 min                      [Drama]         NaN     Russian                                               None                                          -196             NaN                                   []  /title/tt4333982/          NaN                NaN  2014
11          NaN           NaN           Spain            NaN      NaN                      [Drama]         NaN     Spanish                                               None  11211, el barrio de avenidas que se bifurcan             NaN              [ 2 June 2014 (Spain) ]  /title/tt3765224/          NaN                NaN  2014
12          NaN           NaN             USA            NaN   90 min                     [Family]         NaN     English                             [South Carolina, USA ]                    12 Dog Days Till Christmas             NaN           [ 28 November 2014 (USA) ]  /title/tt3579698/          5.6                 85  2014
13          NaN           NaN           Italy            NaN   94 min                     [Comedy]         NaN     Italian                         [Naples, Campania, Italy ]                           ... E fuori nevica!             NaN          [ 16 October 2014 (Italy) ]  /title/tt4129900/          4.8                103  2014
14          NaN             R             USA            NaN  118 min     [Comedy, Romance, Sport]         NaN     English  [Orem, Utah, USA , Los Angeles, California, USA ]                                  108 Stitches             NaN          [ 12 September 2014 (USA) ]  /title/tt3073898/          7.6                 77  2014
15          AUD           NaN       Australia            NaN   50 min                      [Drama]         NaN     English                    [Campbelltown, NSW, Australia ]                                          1010             NaN                                   []  /title/tt4034426/          NaN                NaN  2014
16          NaN           NaN          Norway         65/100   93 min                      [Drama]         NaN   Norwegian  [Oslo, Norway , Cologne, North Rhine-Westphali...                                     1001 Gram             NaN       [ 26 September 2014 (Norway) ]  /title/tt3346824/          6.4                646  2014
17          NaN           NaN             USA            NaN   88 min             [Action, Comedy]         NaN     English                                               None                               10.0 Earthquake             NaN            [ 15 October 2014 (USA) ]  /title/tt3488056/          3.8                384  2014
18          NaN           NaN           India            NaN  120 min                           []         NaN   Malayalam                                               None                            100 Degree Celsius             NaN          [ 10 October 2014 (India) ]  /title/tt3885676/          3.8                 42  2014
19          NaN           NaN           Chile            NaN   90 min           [Horror, Thriller]         NaN     Spanish                                               None                                          (09)             NaN            [ 13 March 2014 (Chile) ]  /title/tt2405820/          4.3                 11  2014
20      €20,000           NaN             NaN            NaN   73 min                     [Horror]         NaN      German                                               None                     11:23-09:59 Projekt Angst             NaN  [ 26 September 2014 (Switzerland) ]  /title/tt3985628/          NaN                NaN  2014
21          NaN           NaN             USA            NaN   89 min                      [Drama]         NaN     English                                               None                              1 Chance 2 Dance             NaN            [ 21 January 2014 (USA) ]  /title/tt2388856/          4.7                214  2014
22          NaN           NaN  Czech Republic            NaN  100 min            [Comedy, Romance]         NaN       Czech                                               None                  10 pravidel jak sbalit holku             NaN   [ 20 March 2014 (Czech Republic) ]  /title/tt3021744/          5.6                142  2014
23          NaN           NaN       Singapore            NaN   90 min              [Drama, Family]         NaN       Tamil                                               None                                          1021             NaN                                   []  /title/tt3894508/          NaN                NaN  2014
24          NaN           NaN             USA            NaN   87 min     [Crime, Drama, Thriller]         NaN     English  [Dam, Amsterdam, Netherlands , Hollywood, Los ...                                            11             NaN           [ 11 November 2014 (USA) ]  /title/tt3187586/          5.0                  5  2014
25          NaN           NaN             USA            NaN   99 min                      [Drama]         NaN     Spanish                                               None                                05.RED.04.CLAY             NaN           [ 1 October 2014 (Spain) ]  /title/tt4022798/          NaN                NaN  2014
26          NaN           NaN          Turkey            NaN      NaN             [Action, Comedy]         NaN     Turkish                                               None                                     006 kaçis             NaN             [ 16 May 2014 (Turkey) ]  /title/tt3283768/          3.2                 17  2014
27          NaN           NaN           India            NaN      NaN                   [Thriller]         NaN   Malayalam                                               None                                      1 by Two             NaN            [ 19 April 2014 (India) ]  /title/tt3686130/          5.3                229  2014
28          NaN           NaN             USA            NaN   83 min     [Comedy, Drama, Romance]         NaN     English                    [Los Angeles, California, USA ]                                        #Stuck             NaN            [ 10 October 2014 (USA) ]  /title/tt2075318/          5.7                414  2014
29          NaN             R             USA            NaN   90 min                      [Drama]         NaN     English                                               None            $50K and a Call Girl: A Love Story             NaN            [ 14 January 2014 (USA) ]  /title/tt2106284/          7.0              1,919  2014
30      $50,000           NaN             USA            NaN   90 min                      [Drama]         NaN     English  [Cherry Creek Res., Colorado, USA , Holiday Ch...                     12/10/07: A Dogme 95 film             NaN               [ 18 July 2014 (USA) ]  /title/tt3977920/          NaN                NaN  2014
31          NaN           NaN             USA            NaN   85 min                      [Drama]         NaN     English                                               None                                   12 Til Dusk             NaN             [ 3 October 2014 (USA) ]  /title/tt4386156/          NaN                NaN  2014
32   $3,500,000       Unrated             USA         37/100   91 min            [Crime, Thriller]         NaN     English                    [Los Angeles, California, USA ]                                10 Cent Pistol             NaN               [ 24 July 2015 (USA) ]  /title/tt2134170/          5.0                239  2014
33   $4,000,000           NaN        Colombia            NaN   90 min                      [Drama]         NaN     Spanish                              [Medellin, Colombia ]                            11 Grados de Culpa             NaN        [ 3 October 2014 (Colombia) ]  /title/tt3667144/          NaN                NaN  2014
34          NaN           NaN           Japan            NaN  198 min                      [Drama]         NaN    Japanese                                               None                                      0.5 miri             NaN               [ 17 July 2014 (USA) ]  /title/tt3825360/          7.3                107  2014
35          NaN           NaN          Russia            NaN      NaN            [Comedy, Romance]         NaN     Russian                                               None                            #Nerealnaya lyubov             NaN        [ 13 February 2014 (Russia) ]  /title/tt3524032/          3.2                112  2014
36          NaN           NaN             USA            NaN   78 min                     [Horror]         NaN     English         [Hollywood, Los Angeles, California, USA ]              101: Modern Los Angeles Vampires             NaN                 [ 1 May 2014 (USA) ]  /title/tt3627828/          4.4                 10  2014
37          NaN           NaN            Iran            NaN   90 min                      [Drama]         NaN     Persian                                               None                                        Sizdah             NaN     [ 4 October 2014 (South Korea) ]  /title/tt4080028/          6.9                 99  2014
38          NaN           NaN          Canada            NaN  108 min                     [Action]         NaN     English                                               None                           100 Miles from Hell             NaN         [ 10 January 2014 (Canada) ]  /title/tt2955976/          NaN                NaN  2014
39  $10,990,000           NaN           India            NaN  170 min  [Action, Mystery, Thriller]         NaN      Telugu  [London Bridge, London, England, UK , Belfast,...                               1 - Nenokkadine             NaN            [ 10 January 2014 (USA) ]  /title/tt2375559/          8.7             32,768  2014
40   $2,500,000         TV-PG             USA            NaN   91 min                     [Sci-Fi]         NaN     English                                               None                                   10,000 Days             NaN           [ 23 November 2014 (USA) ]  /title/tt3530690/          2.7                313  2014
41          NaN           NaN          Sweden            NaN      NaN                     [Comedy]         NaN     Swedish                                               None                                 10 000 timmar             NaN            [ 4 April 2014 (Sweden) ]  /title/tt3013386/          4.3                446  2014
42     $400,000           NaN             USA            NaN   95 min           [Horror, Thriller]         NaN     English                                               None                                        #iKllr             NaN                       [ 2014 (USA) ]  /title/tt2477324/          NaN                NaN  2014
43   $1,500,000           NaN           China            NaN  108 min               [Crime, Drama]         NaN     Chinese                                  [Beijing, China ]                                   12 Citizens             NaN              [ 15 May 2015 (China) ]  /title/tt3431598/          7.1                210  2014
44          NaN           NaN           Japan            NaN  113 min              [Comedy, Drama]         NaN    Japanese                                               None                                Hyakuen no koi             NaN         [ 15 November 2014 (Japan) ]  /title/tt4080598/          7.2                336  2014
45          NaN           NaN         Germany            NaN   89 min       [Comedy, Crime, Drama]         NaN      German  [Frankfurt am Main, Hessen, Germany , Mainz, R...                    ...and the Rest is History             NaN         [ September 2014 (Germany) ]  /title/tt4533680/          NaN                NaN  2014
46          NaN           NaN           Japan            NaN   80 min                      [Drama]         NaN    Japanese                                               None                                          1/11             NaN             [ 5 April 2014 (Japan) ]  /title/tt3569968/          NaN                NaN  2014
47          NaN           NaN          Israel            NaN   84 min      [Comedy, Drama, Family]         NaN      Hebrew                                               None                                  10% My Child             NaN              [ 28 March 2015 (USA) ]  /title/tt2339406/          6.5                 19  2014
48          NaN           NaN             USA            NaN      NaN                   [Thriller]         NaN     English                                               None                                          1108             NaN            [ 31 January 2014 (USA) ]  /title/tt2818632/          6.2                  8  2014
49          INR           NaN           India            NaN      NaN                     [Horror]         NaN       Tamil                                               None                                            13             NaN        [ 13 September 2014 (India) ]  /title/tt3848510/          NaN                NaN  2014