### Coordinates Extraction
This notebook is used to match cities to geographical coordinates to be used in Tableau.

In [1]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline
# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import random

In [2]:
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
# The "requests" library makes working with HTTP requests easier
# than the built-in urllib libraries.
import requests

In [3]:
#Get a list of cities with population greater than 1000. This is taken from http://download.geonames.org/export/dump/
citiesraw = []
citiesfile = open('tempdata/cities1000.txt', 'r')
#citiesfile.readline()
while 1:
    line = citiesfile.readline()
    if not line:
        break
    citiesraw.append(line)

In [4]:
#Use largest population to resolve conflict. This may result in some matching errors
print len(citiesraw)
print citiesraw[1]
print citiesraw[1].split('\t')

coordinatesdict = {}
duplicatecities = {}
for x in range(len(citiesraw)):
    templist = citiesraw[x].split('\t')
    cityname = templist[1].lower()
    if cityname not in coordinatesdict:
        coordinatesdict[templist[1].lower()] = (templist[4],templist[5])
        duplicatecities[cityname]=templist[14]
    else:
        if templist[14] < duplicatecities[cityname]:
            duplicatecities[cityname]=templist[14]
            coordinatesdict[templist[1].lower()] = (templist[4],templist[5])
            
    #Code to check current progress
    if x%1000 == 0:
        print x

145493
3039163	Sant Julià de Lòria	Sant Julia de Loria	San Julia,San Julià,Sant Julia de Loria,Sant Julià de Lòria,Sant-Zhulija-de-Lorija,sheng hu li ya-de luo li ya,Сант-Жулия-де-Лория,サン・ジュリア・デ・ロリア教区,圣胡利娅-德洛里亚,圣胡利娅－德洛里亚	42.46372	1.49129	P	PPLA	AD		06				8022		921	Europe/Andorra	2013-11-23

['3039163', 'Sant Juli\xc3\xa0 de L\xc3\xb2ria', 'Sant Julia de Loria', 'San Julia,San Juli\xc3\xa0,Sant Julia de Loria,Sant Juli\xc3\xa0 de L\xc3\xb2ria,Sant-Zhulija-de-Lorija,sheng hu li ya-de luo li ya,\xd0\xa1\xd0\xb0\xd0\xbd\xd1\x82-\xd0\x96\xd1\x83\xd0\xbb\xd0\xb8\xd1\x8f-\xd0\xb4\xd0\xb5-\xd0\x9b\xd0\xbe\xd1\x80\xd0\xb8\xd1\x8f,\xe3\x82\xb5\xe3\x83\xb3\xe3\x83\xbb\xe3\x82\xb8\xe3\x83\xa5\xe3\x83\xaa\xe3\x82\xa2\xe3\x83\xbb\xe3\x83\x87\xe3\x83\xbb\xe3\x83\xad\xe3\x83\xaa\xe3\x82\xa2\xe6\x95\x99\xe5\x8c\xba,\xe5\x9c\xa3\xe8\x83\xa1\xe5\x88\xa9\xe5\xa8\x85-\xe5\xbe\xb7\xe6\xb4\x9b\xe9\x87\x8c\xe4\xba\x9a,\xe5\x9c\xa3\xe8\x83\xa1\xe5\x88\xa9\xe5\xa8\x85\xef\xbc\x8d\xe5\xbe\xb7\xe6\xb4\x9b\xe9\x87\x8c\xe4\xba\x9a', '42.46372', '1.49129', 'P', 'PPLA', 'AD', '', '06', '', '', '', '8022', '', '921', 'Europe/Andorra', '2013-11-23\n']
0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000

In [5]:
#Get a dictionary of states in the US. We are removing these.
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [6]:
stateslist = [state.lower() for state in states.values()]
print len(coordinatesdict)
for state in stateslist:
    if state in coordinatesdict:
        del coordinatesdict[state]
print len(coordinatesdict)

del coordinatesdict['uk']

125626
125610

In [7]:
#Get a list of country names
import codecs
cities2raw = []
with codecs.open('tempdata/CountriesToCities.json', 'r', encoding= "UTF-16") as f:
    for line in f:
       cities2raw.append(json.loads(line))

In [8]:
countries = [item.lower() for item in cities2raw[0].keys()]

In [9]:
#We are removing these from the cities list too. This is because there are some cities that have names of countries.
#Eg There is a city called "China" in Texas. To reduce errors, we remove these cities as well
print len(coordinatesdict)
for country in countries:
    if country in coordinatesdict:
        del coordinatesdict[country]
print len(coordinatesdict)

125609
125561

In [11]:
#Get the raw data files
df = pd.read_json("tempdata/movieinfo_2014_full.json")
df = df.append(pd.read_json("tempdata/movieinfo_2013.json"))
df = df.append(pd.read_json("tempdata/movieinfo_2012.json"))
df = df.append(pd.read_json("tempdata/movieinfo_2011.json"))
df = df.append(pd.read_json("tempdata/movieinfo_2010.json"))
df = df.append(pd.read_json("tempdata/movieinfo_2009.json"))

In [12]:
#Reset the index
r_df = df[~df["user_ratings"].isnull()].reset_index()

In [13]:
len(r_df)

32788

In [14]:
#Remove entries without location data. we are not using these in both our data analysis and visualization
new_df = r_df[r_df["location_page"]!="None"].reset_index()
new_df

       level_0  index       budget contentRating     country critic_ratings duration                           genre        gross    language                                      location_page                                         name opening_weekend                     release_dates                url  user_ratings user_ratings_count  year
0            0      0   €1,500,000           NaN  Kazakhstan            NaN  110 min                         [Drama]          NaN     Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                                 Ya ne vernus             NaN         [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014
1            2      3          NaN           NaN         USA            NaN   85 min     [Horror, Mystery, Thriller]          NaN     English                             [Silt, Colorado, USA ]                                      Find Me             NaN        [ 1 September 2014 (USA) ]  /title/tt3027188/           4.5                649  2014
2            3      4          NaN           NaN     Ireland            NaN   88 min         [Comedy, Drama, Family]          NaN     English  [Dublin, County Dublin, Ireland , County Wickl...                                         Gold             NaN     [ 10 October 2014 (Ireland) ]  /title/tt3134422/           6.1                406  2014
3            7     10          NaN           Not         USA            NaN   85 min      [Action, Sci-Fi, Thriller]          NaN     English  [Los Angeles, California, USA , Long Beach, Ca...                   Mega Shark vs. Mecha Shark             NaN         [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014
4            8     11          NaN           NaN      Poland            NaN  117 min                [Drama, Romance]          NaN      Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                                   Obce cialo             NaN      [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014
5           12     19      $50,000           NaN         USA            NaN      NaN                        [Comedy]          NaN     English  [Angelus Oaks, California, USA , California, U...                                     Camp-Off             NaN            [ 4 April 2014 (USA) ]  /title/tt3482042/           7.3                  7  2014
6           14     21          NaN           NaN     Germany            NaN   84 min                 [Comedy, Drama]          NaN      German  [Akademie der Künste, Berlin, Germany , Haus d...       Ich will mich nicht künstlich aufregen             NaN       [ February 2014 (Germany) ]  /title/tt3471498/           6.2                 28  2014
7           15     23          NaN           NaN      Sweden            NaN   99 min          [Action, Crime, Drama]          NaN     Swedish  [Falkenberg, Hallands län, Sweden , Uddevalla,...                                   Svart kung             NaN        [ 15 March 2014 (Sweden) ]  /title/tt2935416/           6.2                 42  2014
8           16     24       $7,100           NaN         USA            NaN   92 min                        [Action]          NaN     English  [New York, USA , Paulsboro, New Jersey, USA , ...                                       Battle             NaN        [ 25 December 2014 (USA) ]  /title/tt2094769/           6.6                  8  2014
9           20     29          NaN           NaN          UK            NaN   90 min                        [Horror]          NaN     English                                       [Wales, UK ]                          Valley of the Witch             NaN         [ 13 January 2015 (USA) ]  /title/tt2908340/           5.0                 67  2014
10          24     35          NaN           NaN         USA            NaN      NaN       [Action, Family, Fantasy]          NaN     English                           [Denver, Colorado, USA ]                          Legacy of the Tengu             NaN              [ 1 May 2014 (USA) ]  /title/tt1874742/           5.4                 11  2014
11          25     36          NaN           NaN       Chile            NaN   90 min         [Action, Comedy, Crime]          NaN     Spanish                                 [Santiago, Chile ]                            Santiago Violenta             NaN        [ 1 January 2015 (Chile) ]  /title/tt2128535/           6.4                 70  2014
12          28     44          NaN           NaN      France            NaN  118 min     [Biography, Drama, Fantasy]          NaN     English                                [Lisbon, Portugal ]                          Casanova Variations             NaN                    [ 2015 (USA) ]  /title/tt2614400/           6.2                122  2014
13          35     51       $3,000           NaN         USA            NaN   75 min                        [Horror]          NaN     English  [Marquam, Oregon, USA , Silverton, Oregon, USA...                                      Drifter             NaN             [ 23 May 2014 (USA) ]  /title/tt3143384/           5.8                  6  2014
14          38     57          NaN           NaN       China            NaN      NaN                     [Animation]          NaN     Chinese                                           [China ]         Bai Xue Gong Zhu Zhi Ai Ren Li Liang             NaN                    [ 2015 (USA) ]  /title/tt3973682/           3.8                  6  2014
15          39     58          NaN           NaN     Germany            NaN  106 min                [Drama, Romance]          NaN      German  [Cologne, North Rhine-Westphalia, Germany , In...                                     Der Koch             NaN    [ 27 November 2014 (Germany) ]  /title/tt3106212/           5.4                 77  2014
16          40     59      $70,000             R         USA         70/100   82 min                 [Comedy, Drama]      $30,084     English                          [Chicago, Illinois, USA ]                              Happy Christmas          $7,523            [ 26 June 2014 (USA) ]  /title/tt2955096/           5.6              4,832  2014
17          43     64          NaN           NaN     Germany            NaN   95 min                        [Comedy]          NaN      German              [Frankfurt am Main, Hessen, Germany ]                                 Doktorspiele             NaN      [ 28 August 2014 (Germany) ]  /title/tt3328720/           5.5                577  2014
18          46     68          NaN           NaN       India            NaN      NaN      [Comedy, Horror, Thriller]          NaN      Telugu                     [Hyderabad, Telangana, India ]                                      The End             NaN      [ 15 November 2014 (India) ]  /title/tt4202974/           5.2                 11  2014
19          51     74          NaN           NaN         USA            NaN   62 min                 [Drama, Family]          NaN     English  [Springfield, Tennessee, USA , Destin, Florida...                                The Good Book             NaN             [ 1 July 2014 (USA) ]  /title/tt3034546/           6.8                 16  2014
20          53     76          NaN             R         USA         76/100  100 min             [Mystery, Thriller]     $322,600     English  [Moriarty, New Mexico, USA , Estancia, New Mex...                                    The Guest         $84,527         [ 5 September 2014 (UK) ]  /title/tt2980592/           6.7             55,000  2014
21          54     80          NaN            PG         USA         53/100   95 min     [Biography, Drama, History]          NaN     English  [Mohonk Preserve, New Paltz, New York, USA , A...                            The Better Angels             NaN         [ 7 November 2014 (USA) ]  /title/tt2316868/           6.1                853  2014
22          56     83          NaN           NaN       Japan            NaN  117 min                        [Comedy]          NaN    Japanese                                 [Hokkaido, Japan ]                               Budô no namida             NaN       [ 11 October 2014 (Japan) ]  /title/tt3198994/           6.2                 24  2014
23          57     84          INR           NaN       India            NaN  140 min        [Action, Drama, Romance]          NaN     Bengali            [Kolkata, West Bengal, India , Turkey ]                                      Borbaad             NaN        [ 15 August 2014 (India) ]  /title/tt3958596/           5.5                 71  2014
24          61     94          NaN           Not          UK         75/100  108 min                 [Comedy, Drama]   $2,873,758     English                                           [Italy ]                            The Trip to Italy         $71,712            [ 25 April 2014 (UK) ]  /title/tt2967006/           6.6              9,834  2014
25          63     97          NaN           NaN         USA            NaN   89 min                        [Comedy]          NaN     English                                             [USA ]                                Chasing Taste             NaN                                []  /title/tt2997704/           7.5                 11  2014
26          64     98          NaN           NaN      Sweden            NaN   90 min                      [Thriller]          NaN     Swedish  [Båstad, Skåne län, Sweden , Malmö, Skåne län,...                                    Inbrottet             NaN          [ 22 May 2014 (Sweden) ]  /title/tt3061610/           8.3                  6  2014
27          66    101   $9,000,000             R         USA         50/100  103 min        [Action, Horror, Sci-Fi]  $71,519,230     English  [Los Angeles, California, USA , Chip's Restaur...                           The Purge: Anarchy     $29,816,675            [ 18 July 2014 (USA) ]  /title/tt2975578/           6.5             75,998  2014
28          75    112          NaN           NaN      France            NaN   88 min     [Fantasy, Sci-Fi, Thriller]          NaN      French                                          [France ]                  Léa, un ange dans ma maison             NaN      [ 21 January 2015 (France) ]  /title/tt3746666/           7.1                 23  2014
29          78    117          NaN           NaN         USA         34/100   92 min               [Comedy, Romance]          NaN     English  [Tampa, Florida, USA , Lakeland, Florida, USA ...                                       Sex Ed             NaN         [ 7 November 2014 (USA) ]  /title/tt2751310/           5.6              3,021  2014
...        ...    ...          ...           ...         ...            ...      ...                             ...          ...         ...                                                ...                                          ...             ...                               ...                ...           ...                ...   ...
18001    32745   6709          NaN             R          UK            NaN   86 min        [Action, Comedy, Horror]   £1,581,373     English  [Luton Hoo Estate, Luton, Bedfordshire, Englan...                              Vampire Killers        £648,634            [ 20 March 2009 (UK) ]  /title/tt1020885/           5.2             16,688  2009
18002    32747   6712          NaN           NaN         USA            NaN   74 min                         [Drama]          NaN     English  [Half Moon Bay, California, USA , South Lake T...                            Sex and Imagining             NaN                                []  /title/tt1493165/           8.0                 20  2009
18003    32748   6713          NaN           NaN     Germany            NaN   81 min                              []          NaN      German  [Dresden, Saxony, Germany , Jena, Thuringia, G...                                  Unter Strom             NaN    [ 10 December 2009 (Germany) ]  /title/tt0304876/           5.4                 72  2009
18004    32749   6714          NaN           NaN      France            NaN   99 min                      [Thriller]          NaN      French                                   [Paris, France ]                           Une affaire d'état             NaN     [ 25 November 2009 (France) ]  /title/tt1282156/           6.3                435  2009
18005    32751   6717   $6,000,000         PG-13         USA         66/100  104 min                 [Comedy, Drama]   $6,670,712     English  [City Island, Bronx, New York City, New York, ...                                  City Island         $32,001           [ 30 April 2010 (USA) ]  /title/tt1174730/           7.4             26,601  2009
18006    32752   6718          NaN           NaN   Argentina            NaN  115 min                [Biography, War]          NaN     Spanish  [Chaco, Argentina , Formosa, Argentina , San J...                Fontana, la frontera interior             NaN   [ 20 October 2011 (Argentina) ]  /title/tt1615843/           6.3                  7  2009
18007    32753   6721          NaN           NaN         USA            NaN   78 min                              []          NaN         NaN                  [San Francisco, California, USA ]                                      Rebound             NaN                                []  /title/tt1479780/           6.2                 17  2009
18008    32754   6722          NaN           NaN      Turkey            NaN      NaN                         [Drama]          NaN     Turkish                               [Eskisehir, Turkey ]                                 Yengeç oyunu             NaN         [ 3 April 2009 (Turkey) ]  /title/tt1399231/           4.2                 78  2009
18009    32755   6723          NaN           NaN   Australia            NaN   88 min              [Horror, Thriller]          NaN     English  [Melbourne, Victoria, Australia , Sydney, New ...                                     Fragment             NaN              [ 2009 (Australia) ]  /title/tt0973836/           3.6                156  2009
18010    32756   6724          NaN           NaN     Hungary            NaN   90 min                 [Comedy, Drama]          NaN   Hungarian                    [Constanta, Romania , Romania ]                                         Adás             NaN      [ 7 January 2010 (Hungary) ]  /title/tt1366245/           5.4                 94  2009
18011    32757   6725          BGL           NaN    Bulgaria            NaN   90 min                         [Drama]          NaN   Bulgarian                                        [Bulgaria ]                              Durvenoto ezero             NaN  [ 30 September 2009 (Bulgaria) ]  /title/tt1828175/           5.5                  8  2009
18012    32758   6726          NaN           NaN       India            NaN      NaN                 [Comedy, Drama]          NaN       Hindi  [Himachal Pradesh, India , Mumbai, Maharashtra...                                    Chintu Ji             NaN      [ 4 September 2009 (India) ]  /title/tt1135931/           5.7                148  2009
18013    32759   6728          NaN           NaN         USA            NaN   70 min        [Comedy, Drama, Mystery]          NaN     English  [Minneapolis, Minnesota, USA , St. Louis Park,...                                         Bits             NaN                    [ 2009 (USA) ]  /title/tt1270083/           7.2                  8  2009
18014    32763   6732          NaN           NaN   Argentina            NaN   76 min                         [Drama]          NaN     Spanish                                   [Paris, France ]                                 77 Doronship             NaN        [ March 2009 (Argentina) ]  /title/tt1403041/           6.3                 38  2009
18015    32764   6733  $40,000,000            PG         USA         83/100   87 min  [Animation, Adventure, Comedy]  $20,999,103     English  [Three Mills Studios, Three Mill Lane, Bow, Lo...                            Fantastic Mr. Fox      £1,517,312        [ 25 November 2009 (USA) ]  /title/tt0432283/           7.8            128,303  2009
18016    32766   6736          NaN           NaN         USA            NaN   88 min                        [Horror]          NaN     English                           [Orlando, Florida, USA ]                                   Scare Zone             NaN                                []  /title/tt1380281/           5.7                 95  2009
18017    32767   6737          NaN           NaN      Canada            NaN   79 min                        [Comedy]          NaN     English  [Burkeville, British Columbia, Canada , Delta,...                      Underdogs: Born to Lose             NaN          [ 1 June 2009 (Canada) ]  /title/tt1414161/           3.0                  5  2009
18018    32769   6739   $3,500,000           NaN      Russia            NaN   84 min               [Comedy, Romance]          NaN     Russian    [New York City, New York, USA , New York, USA ]                      Lyubov v bolshom gorode             NaN         [ 5 March 2009 (Russia) ]  /title/tt1366687/           6.0              1,004  2009
18019    32770   6740     $250,000           NaN         USA            NaN   75 min                        [Horror]          NaN     English                    [Los Angeles, California, USA ]                                The Occultist             NaN         [ 30 October 2009 (USA) ]  /title/tt1508349/           3.5                 83  2009
18020    32771   6741          NaN           NaN   Argentina            NaN   89 min                      [Thriller]          NaN     Spanish       [Buenos Aires, Federal District, Argentina ]                               Matar a Videla             NaN    [ 7 January 2010 (Argentina) ]  /title/tt1560160/           3.9                 14  2009
18021    32774   6745          NaN           NaN     Germany            NaN   58 min                              []          NaN      German  [Erlangen, Bavaria, Germany , Hungary , Ljublj...                        Im Anhang: Lebenslauf             NaN     [ 27 January 2009 (Germany) ]  /title/tt1356793/           6.2                  5  2009
18022    32775   6746   $2,000,000             R      Canada            NaN   87 min        [Comedy, Drama, Romance]          NaN     English                        [Toronto, Ontario, Canada ]                                   Shark City             NaN         [ 1 November 2009 (USA) ]  /title/tt1055367/           4.1                200  2009
18023    32778   6750          NaN           NaN      France            NaN   90 min             [Adventure, Horror]          NaN      French                         [Aussois, Savoie, France ]                                    High Lane             NaN         [ 24 June 2009 (France) ]  /title/tt1433562/           5.6              5,471  2009
18024    32779   6751     $250,000           NaN         USA            NaN   95 min                         [Music]          NaN     English  [Los Angeles, California, USA , San Francisco,...  Otep Live Confrontation Concert Documentary             NaN             [ 1 July 2009 (USA) ]  /title/tt1469290/           5.8                  6  2009
18025    32780   6754          CAD           NaN      Canada            NaN   95 min                      [Thriller]          NaN      French  [Le Bic, Québec, Canada , Moncton, New Brunswi...                                       Détour             NaN    [ 18 September 2009 (Canada) ]  /title/tt1320343/           5.3                112  2009

In [15]:
len(new_df)

18031

In [16]:
#Seperate the locations by commas. 
places = set()
places_freq = {}
separated_places = []
for row in new_df["location_page"]:
    temp = []
    for loc in row:
        split = loc.split(",")
        for item in split:
            stripped = item.encode('utf8').strip().lower()
            if stripped!="":
                places.add(stripped)
                temp.append(stripped)
                if stripped not in places_freq.keys():
                    places_freq[stripped] = 1
                places_freq[stripped] = places_freq[stripped] + 1
    separated_places.append(temp)
df_boolean = new_df.copy()
df_boolean['separated_places'] = separated_places

In [17]:
len(places)

18983

In [18]:
places_freq = []
separated_places = []
for row in new_df["location_page"]:
    temp = []
    for loc in row:
        split = loc.split(",")
        for item in split:
            stripped = item.encode('utf8').strip().lower()
            if stripped!="":
                places.add(stripped)
                temp.append(stripped)
    separated_places.append(temp)
df_boolean = new_df.copy()
df_boolean['separated_places'] = separated_places

In [19]:
genreset = set()

for index, row in new_df.iterrows():
    genreslist = row.genre
    for genre in genreslist:
        genreset.add(genre.encode('utf8'))

In [20]:
print len(genreset)
genreset

24

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [21]:
df_boolean.head()

   level_0  index      budget contentRating     country critic_ratings duration                        genre gross language                                      location_page                        name opening_weekend                  release_dates                url  user_ratings user_ratings_count  year                                   separated_places
0        0      0  €1,500,000           NaN  Kazakhstan            NaN  110 min                      [Drama]   NaN  Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                Ya ne vernus             NaN      [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014  [minsk, belarus, almaty, kazakhstan, st. peter...
1        2      3         NaN           NaN         USA            NaN   85 min  [Horror, Mystery, Thriller]   NaN  English                             [Silt, Colorado, USA ]                     Find Me             NaN     [ 1 September 2014 (USA) ]  /title/tt3027188/           4.5                649  2014                              [silt, colorado, usa]
2        3      4         NaN           NaN     Ireland            NaN   88 min      [Comedy, Drama, Family]   NaN  English  [Dublin, County Dublin, Ireland , County Wickl...                        Gold             NaN  [ 10 October 2014 (Ireland) ]  /title/tt3134422/           6.1                406  2014  [dublin, county dublin, ireland, county wicklo...
3        7     10         NaN           Not         USA            NaN   85 min   [Action, Sci-Fi, Thriller]   NaN  English  [Los Angeles, California, USA , Long Beach, Ca...  Mega Shark vs. Mecha Shark             NaN      [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014  [los angeles, california, usa, long beach, cal...
4        8     11         NaN           NaN      Poland            NaN  117 min             [Drama, Romance]   NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo             NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...

In [23]:
#Match the cities to the dictionary of coordinates
coordinateslist = []
coordinates_cities = []

for entry in df_boolean['separated_places']:


    coordinateslist.append([coordinatesdict[x] for x in entry if x in coordinatesdict])
    coordinates_cities.append([x for x in entry if x in coordinatesdict])


    
df_boolean['coordinates'] = coordinateslist
df_boolean['coordinates_cities'] = coordinates_cities

In [24]:
df_boolean.head()

   level_0  index      budget contentRating     country critic_ratings duration                        genre gross language                                      location_page                        name opening_weekend                  release_dates                url  user_ratings user_ratings_count  year                                   separated_places                                        coordinates         coordinates_cities
0        0      0  €1,500,000           NaN  Kazakhstan            NaN  110 min                      [Drama]   NaN  Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                Ya ne vernus             NaN      [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014  [minsk, belarus, almaty, kazakhstan, st. peter...           [(53.9, 27.56667), (43.25654, 76.92848)]            [minsk, almaty]
1        2      3         NaN           NaN         USA            NaN   85 min  [Horror, Mystery, Thriller]   NaN  English                             [Silt, Colorado, USA ]                     Find Me             NaN     [ 1 September 2014 (USA) ]  /title/tt3027188/           4.5                649  2014                              [silt, colorado, usa]                           [(39.54859, -107.65617)]                     [silt]
2        3      4         NaN           NaN     Ireland            NaN   88 min      [Comedy, Drama, Family]   NaN  English  [Dublin, County Dublin, Ireland , County Wickl...                        Gold             NaN  [ 10 October 2014 (Ireland) ]  /title/tt3134422/           6.1                406  2014  [dublin, county dublin, ireland, county wicklo...                             [(53.33306, -6.24889)]                   [dublin]
3        7     10         NaN           Not         USA            NaN   85 min   [Action, Sci-Fi, Thriller]   NaN  English  [Los Angeles, California, USA , Long Beach, Ca...  Mega Shark vs. Mecha Shark             NaN      [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014  [los angeles, california, usa, long beach, cal...    [(34.05223, -118.24368), (41.73893, -86.85697)]  [los angeles, long beach]
4        8     11         NaN           NaN      Poland            NaN  117 min             [Drama, Romance]   NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo             NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...  [(43.5942, 13.50337), (41.2381, -85.85305), (5...   [ancona, warsaw, moscow]

In [ ]:
df_boolean.to_csv('df_boolean_temp3.csv',sep=',',encoding='utf-8')

In [45]:
#After using df_boolean_temp3 in tableau, we realized that Tableau needs exactly 1 coordinate per entry. 
#The multiple coordinates per entry is confusing Tableau. Hence, we have to flatten it

old_df = df_boolean.copy()
del old_df['coordinates']
del old_df['coordinates_cities']
new_df = pd.DataFrame(columns = df_boolean.columns)

In [46]:
old_df.head()

   level_0  index      budget contentRating     country critic_ratings duration                        genre gross language                                      location_page                        name opening_weekend                  release_dates                url  user_ratings user_ratings_count  year                                   separated_places
0        0      0  €1,500,000           NaN  Kazakhstan            NaN  110 min                      [Drama]   NaN  Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                Ya ne vernus             NaN      [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014  [minsk, belarus, almaty, kazakhstan, st. peter...
1        2      3         NaN           NaN         USA            NaN   85 min  [Horror, Mystery, Thriller]   NaN  English                             [Silt, Colorado, USA ]                     Find Me             NaN     [ 1 September 2014 (USA) ]  /title/tt3027188/           4.5                649  2014                              [silt, colorado, usa]
2        3      4         NaN           NaN     Ireland            NaN   88 min      [Comedy, Drama, Family]   NaN  English  [Dublin, County Dublin, Ireland , County Wickl...                        Gold             NaN  [ 10 October 2014 (Ireland) ]  /title/tt3134422/           6.1                406  2014  [dublin, county dublin, ireland, county wicklo...
3        7     10         NaN           Not         USA            NaN   85 min   [Action, Sci-Fi, Thriller]   NaN  English  [Los Angeles, California, USA , Long Beach, Ca...  Mega Shark vs. Mecha Shark             NaN      [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014  [los angeles, california, usa, long beach, cal...
4        8     11         NaN           NaN      Poland            NaN  117 min             [Drama, Romance]   NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo             NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...

In [51]:
#WARNING: THIS CELL TAKES A LONG TIME TO RUN. 
#Approximately 1 to 2 hours
#For visualization in Tableau, we want each entry to have only 1 location. so we have to flatten the dataframe based on locations


flattencoordinates = []
flattencoordinatescities = []
newdfcounter = 0
print len(df_boolean)
for x in range(len(df_boolean)):
    for y in range(len(df_boolean['coordinates'][x])):
        new_df.loc[newdfcounter] = old_df.iloc[x]
        flattencoordinates.append(df_boolean['coordinates'][x][y]) 
        flattencoordinatescities.append(df_boolean['coordinates_cities'][x][y]) 
        newdfcounter = newdfcounter + 1
    
    #Printing to keep track of current progress
    if x%100 == 0:
        print str(x) + "   " + str(newdfcounter)
new_df['coordinates'] = flattencoordinates
new_df['coordinates_cities'] = flattencoordinatescities

18031
0   2
100   191
200   397
300   658
400   870
500   1128
600   1375
700   1632
800   1830
900   2029
1000   2218
1100   2463
1200   2700
1300   2960
1400   3195
1500   3461
1600   3718
1700   4008
1800   4223
1900   4461
2000   4741
2100   4919
2200   5165
2300   5365
2400   5610
2500   5819
2600   6019
2700   6247
2800   6478
2900   6687
3000   6913
3100   7136
3200   7396
3300   7654
3400   7881
3500   8140
3600   8341
3700   8587
3800   8805
3900   9019
4000   9286
4100   9512
4200   9755
4300   10053
4400   10317
4500   10499
4600   10697
4700   10939
4800   11175
4900   11440
5000   11647
5100   11896
5200   12075
5300   12313
5400   12532
5500   12762
5600   12994
5700   13194
5800   13506
5900   13765
6000   13978
6100   14237
6200   14483
6300   14729
6400   14957
6500   15184
6600   15465
6700   15689
6800   15920
6900   16194
7000   16401
7100   16646
7200   16877
7300   17156
7400   17391
7500   17637
7600   17920
7700   18136
7800   18348
7900   18610
8000   18874
8100   19103
8200   19319
8300   19528
8400   19721
8500   20000
8600   20193
8700   20431
8800   20669
8900   20922
9000   21202
9100   21413
9200   21626
9300   21926
9400   22148
9500   22396
9600   22678
9700   22900
9800   23122
9900   23336
10000   23599
10100   23811
10200   24066
10300   24330
10400   24542
10500   24736
10600   24974
10700   25284
10800   25552
10900   25799
11000   26082
11100   26348
11200   26604
11300   26845
11400   27100
11500   27352
11600   27567
11700   27773
11800   28026
11900   28269
12000   28499
12100   28688
12200   28934
12300   29176
12400   29348
12500   29539
12600   29817
12700   30049
12800   30428
12900   30687
13000   30991
13100   31258
13200   31528
13300   31768
13400   31979
13500   32205
13600   32427
13700   32699
13800   32946
13900   33189
14000   33409
14100   33618
14200   33836
14300   34097
14400   34301
14500   34574
14600   34925
14700   35197
14800   35375
14900   35590
15000   35910
15100   36141
15200   36370
15300   36777
15400   37000
15500   37306
15600   37595
15700   37891
15800   38214
15900   38463
16000   38685
16100   38906
16200   39126
16300   39351
16400   39547
16500   39783
16600   40077
16700   40342
16800   40648
16900   40903
17000   41129
17100   41397
17200   41625
17300   41842
17400   42110
17500   42327
17600   42538
17700   42841
17800   43069
17900   43324
18000   43572

In [49]:
new_df.head(10)

   level_0  index      budget contentRating     country  critic_ratings duration                        genre  gross language                                      location_page                        name  opening_weekend                  release_dates                url  user_ratings user_ratings_count  year                                   separated_places             coordinates coordinates_cities
0        0      0  €1,500,000           NaN  Kazakhstan             NaN  110 min                      [Drama]    NaN  Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                Ya ne vernus              NaN      [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014  [minsk, belarus, almaty, kazakhstan, st. peter...        (53.9, 27.56667)              minsk
1        0      0  €1,500,000           NaN  Kazakhstan             NaN  110 min                      [Drama]    NaN  Russian  [Minsk, Belarus , Almaty, Kazakhstan , St. Pet...                Ya ne vernus              NaN      [ 1 March 2014 (Russia) ]  /title/tt2637844/           6.9                320  2014  [minsk, belarus, almaty, kazakhstan, st. peter...    (43.25654, 76.92848)             almaty
2        2      3         NaN           NaN         USA             NaN   85 min  [Horror, Mystery, Thriller]    NaN  English                             [Silt, Colorado, USA ]                     Find Me              NaN     [ 1 September 2014 (USA) ]  /title/tt3027188/           4.5                649  2014                              [silt, colorado, usa]  (39.54859, -107.65617)               silt
3        3      4         NaN           NaN     Ireland             NaN   88 min      [Comedy, Drama, Family]    NaN  English  [Dublin, County Dublin, Ireland , County Wickl...                        Gold              NaN  [ 10 October 2014 (Ireland) ]  /title/tt3134422/           6.1                406  2014  [dublin, county dublin, ireland, county wicklo...    (53.33306, -6.24889)             dublin
4        7     10         NaN           Not         USA             NaN   85 min   [Action, Sci-Fi, Thriller]    NaN  English  [Los Angeles, California, USA , Long Beach, Ca...  Mega Shark vs. Mecha Shark              NaN      [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014  [los angeles, california, usa, long beach, cal...  (34.05223, -118.24368)        los angeles
5        7     10         NaN           Not         USA             NaN   85 min   [Action, Sci-Fi, Thriller]    NaN  English  [Los Angeles, California, USA , Long Beach, Ca...  Mega Shark vs. Mecha Shark              NaN      [ 28 January 2014 (USA) ]  /title/tt3152098/           2.6              1,988  2014  [los angeles, california, usa, long beach, cal...   (41.73893, -86.85697)         long beach
6        8     11         NaN           NaN      Poland             NaN  117 min             [Drama, Romance]    NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo              NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...     (43.5942, 13.50337)             ancona
7        8     11         NaN           NaN      Poland             NaN  117 min             [Drama, Romance]    NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo              NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...    (41.2381, -85.85305)             warsaw
8        8     11         NaN           NaN      Poland             NaN  117 min             [Drama, Romance]    NaN   Polish  [Ancona, Marche, Italy , Warsaw, Mazowieckie, ...                  Obce cialo              NaN   [ 5 December 2014 (Poland) ]  /title/tt3997248/           4.6                156  2014  [ancona, marche, italy, warsaw, mazowieckie, p...    (55.75222, 37.61556)             moscow

In [ ]:
new_df.to_csv('df_boolean_temp4.csv',sep=',',encoding='utf-8')