In [1]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline
# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import json
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [3]:
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
# The "requests" library makes working with HTTP requests easier
# than the built-in urllib libraries.
import requests

In [277]:
#PARAMETERS
YEAR_START = 2014
YEAR_END = 2014
TYPE = "feature"

In [278]:
# here we access the webpage and download the content using requests
page=requests.get("http://www.imdb.com/search/title?at=0&sort=alpha&title_type="+TYPE+"&year="+str(YEAR_START)+","+str(YEAR_END))

In [279]:
#First, we get the number of results for this particular year
soup = BeautifulSoup(page.text, "html.parser")
NumResults = soup.find("div", attrs={"class": "leftright"}).find_all("div", attrs={"id": "left"})[0].get_text()
#Output at this point is "\n1-50 of 8,476\ntitles.\n"
NumResults = NumResults.split()[2]

NumResults = int("".join(NumResults.split(',')))   #converting a string of "8,476" to an int of 8476
print NumResults

40214

In [285]:
titles = []
for i in xrange(1,NumResults,50):
    page=requests.get("http://www.imdb.com/search/title?at=0&sort=alpha&start="+str(i)+"&title_type="+TYPE+"&year="+str(YEAR_START)+","+str(YEAR_END))
    soup = BeautifulSoup(page.text, "html.parser")
    rows = soup.find("table", attrs={"class": "results"}).find_all("tr")[1:]
    cleaner = lambda r: [int(r[0].get_text()), r[1].get_text(), r[2].get_text(), r[2].find("a").get("href")]
    titles = titles + [(row.find("td", attrs={"class":"title"}).find("a").get("href")) for row in rows]

print len(titles)

50

In [286]:
urlcache={} #a dict to store the visited urls

In [287]:
def get_page(url):
    # Check if URL has already been visited.
    if (url not in urlcache) or (urlcache[url]==1) or (urlcache[url]==2):
        time.sleep(1)
        # try/except blocks are used whenever the code could generate an exception (e.g. division by zero).
        # In this case we don't know if the page really exists, or even if it does, if we'll be able to reach it.
        try:
            r = requests.get("http://www.imdb.com/%s" % url)

            if r.status_code == 200:
                urlcache[url] = r.text
            else:
                urlcache[url] = 1
        except:
            urlcache[url] = 2
    return urlcache[url]

In [288]:
start = time.time()
for title in titles:
    get_page(title)
print time.time() - start

83.6810002327

In [289]:
print np.sum([(urlcache[k]==1) or (urlcache[k]==2) for k in urlcache])# no one or two's
print len(titles)==len(urlcache)#we got all of the urls

0
True

In [290]:
def movie_info(url,page_text):
    info = {}
    info['url'] = url  
    soup = BeautifulSoup(page_text, "html.parser")
    
    box = soup.find("div", attrs={"id": "full_subnav"})
    if box:
        rows = box.find_all("li")

        for row in rows:
            #print row
            #print row.find("a").get_text()
            if row.find("a").get_text() == "Filming Locations":
                #print row.find("a", attrs={"class": "link ghost"})
                if row.find("a", attrs={"class": "link ghost"}):
                    info['location_page'] = "None"
                else:
                    loc_url = url+'locations?ref_=tt_ql_dt_6'
                    try:
                        r = requests.get("http://www.imdb.com/%s" % loc_url)
                        time.sleep(1)
                        if r.status_code == 200:
                            #print 'here'
                            soup2 = BeautifulSoup(r.text,"html.parser")
                            locations = soup2.find_all("div", attrs={"class": "soda"})
                            #print locations
                            temp = []
                            for location in locations:
                                #print location
                                temp.append(location.find("a").get_text().replace("\n", " "))
                            #print temp
                            info['location_page'] = temp   
                        else:
                            info['location_page'] = "fail"
                    except:
                        info['location_page'] = "fail"

    topbar = soup.find("table", attrs={"id": "title-overview-widget-layout"})
    
    #get information from the first info box
    if topbar:
        infobar = topbar.find("div", attrs={"class": "infobar"})
        if infobar:
            if infobar.find("meta", attrs={"itemprop": "contentRating"}):
                info['contentRating'] = infobar.find("meta", attrs={"itemprop": "contentRating"}).get_text().split()[0]
            if infobar.find("time", attrs={"itemprop": "duration"}):
                info['duration'] = infobar.find("time", attrs={"itemprop": "duration"}).get_text().strip()
            genres = infobar.find_all("span", attrs={"itemprop": "genre"})
            temp = []
            for genre in genres:
                temp.append(genre.get_text())
            info['genre'] = temp
            
            #print infobar.find("meta", attrs={"itemprop": "datePublished"}).
            temp = []            
            release_dates = infobar.find_all("a", attrs={"title": "See all release dates"})
            for dates in release_dates:
                temp.append(dates.get_text().replace("\n", " "))                
            info['release_dates'] = temp

    #get name of movie
    if topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"itemprop":"name"}):
        info['name'] = topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"itemprop":"name"}).get_text()
        info['year'] = topbar.find("td", attrs={"id": "overview-top"}).find("h1").find("span", attrs={"class":"nobr"}).get_text()[1:-1]

        
    starbox = topbar.find("div", attrs={"class": "star-box-details"})
    if starbox:
        if starbox.find("span", attrs={"itemprop": "ratingValue"}):
            info['user_ratings'] = starbox.find("span", attrs={"itemprop": "ratingValue"}).get_text()
        if starbox.find("span", attrs={"itemprop": "ratingCount"}):
            info['user_ratings_count'] = starbox.find("span", attrs={"itemprop": "ratingCount"}).get_text()        
        if starbox.find("a", attrs={"href": "criticreviews?ref_=tt_ov_rt"}):
            info['critic_ratings'] = starbox.find("a", attrs={"href": "criticreviews?ref_=tt_ov_rt"}).get_text().strip()      
            
    detailsbox = soup.find("div", attrs={"id": "titleDetails"})
    if detailsbox:
        txtblocks = detailsbox.find_all("div", attrs={"class": "txt-block"})
        for block in txtblocks:
            #print block
            if block.find("h4"):
                if block.find("h4").get_text() == "Country:":
                    info['country'] = block.find("a").get_text()
                if block.find("h4").get_text() == "Language:":
                    info['language'] = block.find("a").get_text()
                if block.find("h4").get_text() == "Budget:":
                    info['budget'] = block.get_text().split()[1]
                if block.find("h4").get_text() == "Opening Weekend:":
                    info['opening_weekend'] = block.get_text().split()[2]
                if block.find("h4").get_text() == "Gross:":
                    info['gross'] = block.get_text().split()[1]
                    #print info['gross']
               
    
    #print info
    return info     

#Testing Code
#k = '/title/tt1951264/'
#r = requests.get("http://www.imdb.com"+k)
#v = r.text

#movie_info(k, v)

In [291]:
movie_info_list=[]

for k,v in urlcache.items():
    movie_info_list.append(movie_info(k, v))

In [292]:
movie_info_list

[{'country': u'USA',
  'genre': [u'Comedy', u'Romance'],
  'language': u'English',
  'location_page': [u'Los Angeles, California, USA '],
  'name': u'10 Things I Hate About Life',
  'release_dates': [u' 2014 (USA) '],
  'url': u'/title/tt2402917/',
  'year': u'2014'},
 {'country': u'Finland',
  'duration': u'60 min',
  'genre': [],
  'location_page': 'None',
  'name': u'1 Plus 1 Plus 1 - Sympathy for the Decay',
  'release_dates': [u' September 2012 (Finland) '],
  'url': u'/title/tt2390346/',
  'year': u'2012'},
 {'country': u'Italy',
  'genre': [u'Comedy'],
  'language': u'Italian',
  'location_page': [u'Florence, Tuscany, Italy ',
   u'Greve in Chianti, Florence, Tuscany, Italy ',
   u'Impruneta, Florence, Tuscany, Italy ',
   u'Lucca, Tuscany, Italy ',
   u'Prato, Tuscany, Italy '],
  'name': u'10 ragazze',
  'release_dates': [u' 2011 (Italy) '],
  'url': u'/title/tt1874387/',
  'user_ratings': u'4.7',
  'user_ratings_count': u'28',
  'year': u'2011'},
 {'country': u'USA',
  'duration': u'83 min',
  'genre': [u'Comedy', u'Horror', u'Thriller'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 Dead Party',
  'release_dates': [],
  'url': u'/title/tt3118542/',
  'user_ratings': u'6.2',
  'user_ratings_count': u'13',
  'year': u'2013'},
 {'budget': u'$10,000',
  'country': u'USA',
  'duration': u'78 min',
  'genre': [u'Action', u'Crime', u'Musical'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 911 Jak Boyz',
  'release_dates': [u' 1 August 2011 (USA) '],
  'url': u'/title/tt2006036/',
  'user_ratings': u'4.2',
  'user_ratings_count': u'5',
  'year': u'2011'},
 {'contentRating': u'Not',
  'country': u'USA',
  'duration': u'91 min',
  'genre': [u'Action', u'Crime'],
  'language': u'English',
  'location_page': [u'Astoria, Queens, New York City, New York, USA ',
   u'Bensonhurst, Brooklyn, New York City, New York, USA ',
   u'Brooklyn, New York City, New York, USA ',
   u'Coney Island, Brooklyn, New York City, New York, USA ',
   u'Dyker Heights, Brooklyn, New York City, New York, USA ',
   u'Forest Hills, Queens, New York City, New York, USA '],
  'name': u'1,000 Times More Brutal',
  'release_dates': [u' 20 August 2012 (USA) '],
  'url': u'/title/tt1744760/',
  'user_ratings': u'4.4',
  'user_ratings_count': u'355',
  'year': u'2012'},
 {'budget': u'$50,000',
  'country': u'Spain',
  'duration': u'77 min',
  'genre': [u'Comedy', u'Drama'],
  'language': u'Spanish',
  'location_page': [u'Mexico City, Mexico '],
  'name': u'1 para 1',
  'release_dates': [u' 8 September 2013 (UK) '],
  'url': u'/title/tt3119776/',
  'user_ratings': u'6.0',
  'user_ratings_count': u'5',
  'year': u'2013'},
 {'country': u'Turkey',
  'duration': u'105 min',
  'genre': [u'Comedy'],
  'language': u'Turkish',
  'location_page': 'None',
  'name': u'10. K\xf6y Teyatora',
  'release_dates': [u' 2 May 2014 (Turkey) '],
  'url': u'/title/tt3746926/',
  'user_ratings': u'4.1',
  'user_ratings_count': u'56',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'82 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10 Williams',
  'release_dates': [],
  'url': u'/title/tt2357658/',
  'year': u'2012'},
 {'country': u'USA',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': [u'Finchville, Kentucky, USA ',
   u'Louisville, Kentucky, USA ',
   u'Nashville, Tennessee, USA ',
   u'Seattle, Washington, USA '],
  'name': u'1 Message',
  'release_dates': [u' 7 October 2011 (USA) '],
  'url': u'/title/tt1701202/',
  'user_ratings': u'6.9',
  'user_ratings_count': u'22',
  'year': u'2011'},
 {'country': u'USA',
  'duration': u'90 min',
  'genre': [u'Adventure', u'Comedy', u'Music'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 Nighter',
  'release_dates': [u' 2014 (USA) '],
  'url': u'/title/tt1327196/',
  'user_ratings': u'6.1',
  'user_ratings_count': u'31',
  'year': u'2012'},
 {'budget': u'\u20ac230',
  'country': u'Ireland',
  'duration': u'150 min',
  'genre': [],
  'language': u'English',
  'location_page': [u'Waterford, Ireland '],
  'name': u'1 and a Half',
  'release_dates': [u' 14 December 2012 (Ireland) '],
  'url': u'/title/tt2462560/',
  'year': u'2012'},
 {'country': u'USA',
  'duration': u'110 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 in 3',
  'release_dates': [],
  'url': u'/title/tt1611793/',
  'user_ratings': u'8.1',
  'user_ratings_count': u'33',
  'year': u'2010'},
 {'budget': u'CAD',
  'country': u'Canada',
  'duration': u'108 min',
  'genre': [u'Drama'],
  'language': u'French',
  'location_page': [u'Montr\xe9al, Qu\xe9bec, Canada '],
  'name': u'10 1/2',
  'release_dates': [u' 13 October 2010 (Canada) '],
  'url': u'/title/tt1591622/',
  'user_ratings': u'7.2',
  'user_ratings_count': u'453',
  'year': u'2010'},
 {'country': u'USA',
  'duration': u'88 min',
  'genre': [u'Action', u'Comedy'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10.0 Earthquake',
  'release_dates': [u' 15 October 2014 (USA) '],
  'url': u'/title/tt3488056/',
  'user_ratings': u'3.8',
  'user_ratings_count': u'384',
  'year': u'2014'},
 {'country': u'Taiwan',
  'duration': u'114 min',
  'genre': [],
  'language': u'Mandarin',
  'location_page': 'None',
  'name': u'10+10',
  'release_dates': [u' 16 December 2011 (Taiwan) '],
  'url': u'/title/tt2243123/',
  'user_ratings': u'6.5',
  'user_ratings_count': u'188',
  'year': u'2011'},
 {'budget': u'$1,000',
  'country': u'USA',
  'duration': u'64 min',
  'genre': [],
  'language': u'English',
  'location_page': [u'Daytona Beach, Florida, USA '],
  'name': u'10 Days in Daytona: Bike Week 2012',
  'release_dates': [],
  'url': u'/title/tt2281520/',
  'year': u'2012'},
 {'country': u'Japan',
  'genre': [u'Comedy'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'1+1=11',
  'release_dates': [u' 2012 (Japan) '],
  'url': u'/title/tt2198094/',
  'year': u'2012'},
 {'contentRating': u'R',
  'country': u'USA',
  'critic_ratings': u'1/100',
  'duration': u'94 min',
  'genre': [u'Comedy', u'Romance'],
  'language': u'English',
  'location_page': [u'Charlotte, North Carolina, USA ',
   u'New York City, New York, USA ',
   u'North Carolina, USA '],
  'name': u'10 Rules for Sleeping Around',
  'release_dates': [u' 4 April 2014 (USA) '],
  'url': u'/title/tt1993391/',
  'user_ratings': u'3.7',
  'user_ratings_count': u'1,938',
  'year': u'2013'},
 {'country': u'Poland',
  'genre': [u'Comedy'],
  'language': u'Polish',
  'location_page': [u'Gdansk, Pomorskie, Poland ',
   u'Warsaw, Mazowieckie, Poland '],
  'name': u'1 000 000 $',
  'release_dates': [u' 11 June 2010 (Poland) '],
  'url': u'/title/tt1807862/',
  'user_ratings': u'3.5',
  'user_ratings_count': u'90',
  'year': u'2010'},
 {'country': u'Switzerland',
  'duration': u'50 min',
  'genre': [],
  'location_page': 'None',
  'name': u'1 Life. 1 Story.',
  'release_dates': [u' 2 October 2011 (Japan) '],
  'url': u'/title/tt2087651/',
  'year': u'2011'},
 {'country': u'USA',
  'duration': u'89 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1 Chance 2 Dance',
  'release_dates': [u' 21 January 2014 (USA) '],
  'url': u'/title/tt2388856/',
  'user_ratings': u'4.7',
  'user_ratings_count': u'214',
  'year': u'2014'},
 {'country': u'Czech Republic',
  'duration': u'100 min',
  'genre': [u'Comedy', u'Romance'],
  'language': u'Czech',
  'location_page': 'None',
  'name': u'10 pravidel jak sbalit holku',
  'release_dates': [u' 20 March 2014 (Czech Republic) '],
  'url': u'/title/tt3021744/',
  'user_ratings': u'5.6',
  'user_ratings_count': u'142',
  'year': u'2014'},
 {'duration': u'83 min',
  'genre': [u'Romance'],
  'name': u'1+1=3',
  'release_dates': [],
  'url': u'/title/tt2076898/',
  'year': u'2012'},
 {'budget': u'$1,850,000',
  'country': u'USA',
  'duration': u'90 min',
  'genre': [u'Drama'],
  'language': u'English',
  'location_page': [u'Union Station - 800 NW 6th Avenue, Portland, Oregon, USA '],
  'name': u'1 Out of 7',
  'release_dates': [u' 9 March 2012 (USA) '],
  'url': u'/title/tt1523987/',
  'user_ratings': u'6.4',
  'user_ratings_count': u'99',
  'year': u'2011'},
 {'country': u'France',
  'duration': u'95 min',
  'genre': [u'Comedy', u'Drama'],
  'language': u'French',
  'location_page': [u"Dijon, C\xf4te-d'Or, France ",
   u'Paris, France ',
   u'Var, France '],
  'name': u'10 jours en or',
  'release_dates': [u' 11 January 2012 (France) '],
  'url': u'/title/tt1729630/',
  'user_ratings': u'5.2',
  'user_ratings_count': u'119',
  'year': u'2012'},
 {'country': u'USA',
  'duration': u'98 min',
  'genre': [u'Comedy', u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10 Years Later',
  'release_dates': [u' 26 March 2010 (USA) '],
  'url': u'/title/tt1079974/',
  'user_ratings': u'6.9',
  'user_ratings_count': u'76',
  'year': u'2010'},
 {'contentRating': u'PG-13',
  'country': u'USA',
  'critic_ratings': u'61/100',
  'duration': u'100 min',
  'genre': [u'Comedy', u'Drama', u'Romance'],
  'gross': u'$201,146',
  'language': u'English',
  'location_page': [u'New Mexico, USA '],
  'name': u'10 Years',
  'opening_weekend': u'$22,707',
  'release_dates': [u' 5 October 2012 (USA) '],
  'url': u'/title/tt1715873/',
  'user_ratings': u'6.1',
  'user_ratings_count': u'17,154',
  'year': u'2011'},
 {'country': u'India',
  'genre': [u'Thriller'],
  'language': u'Malayalam',
  'location_page': 'None',
  'name': u'1 by Two',
  'release_dates': [u' 19 April 2014 (India) '],
  'url': u'/title/tt3686130/',
  'user_ratings': u'5.3',
  'user_ratings_count': u'229',
  'year': u'2014'},
 {'budget': u'\xa365,000',
  'country': u'UK',
  'genre': [u'Action'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10',
  'release_dates': [u' 1 November 2011 (UK) '],
  'url': u'/title/tt1941430/',
  'user_ratings': u'3.2',
  'user_ratings_count': u'10',
  'year': u'2011'},
 {'country': u'Italy',
  'duration': u'96 min',
  'genre': [u'Comedy'],
  'language': u'Italian',
  'location_page': [u'Rome, Lazio, Italy '],
  'name': u'10 regole per fare innamorare',
  'release_dates': [u' 16 March 2012 (Italy) '],
  'url': u'/title/tt2100371/',
  'user_ratings': u'4.7',
  'user_ratings_count': u'286',
  'year': u'2012'},
 {'country': u'Spain',
  'duration': u'90 min',
  'genre': [u'Comedy', u'Drama', u'Family'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1/20',
  'release_dates': [],
  'url': u'/title/tt1669776/',
  'year': u'2010'},
 {'country': u'Japan',
  'genre': [u'Drama'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'Boku to tsuma no 1778 no monogatari',
  'release_dates': [u' 15 January 2011 (Japan) '],
  'url': u'/title/tt1545979/',
  'user_ratings': u'7.1',
  'user_ratings_count': u'196',
  'year': u'2011'},
 {'country': u'UK',
  'duration': u'90 min',
  'genre': [u'Comedy'],
  'language': u'English',
  'location_page': [u'Three Mills Studios, Three Mill Lane, Bow, London, England, UK '],
  'name': u'10 Arenas of Marwood',
  'release_dates': [u' 1 December 2011 (UK) '],
  'url': u'/title/tt1800657/',
  'year': u'2011'},
 {'country': u'Malaysia',
  'duration': u'83 min',
  'genre': [u'Action'],
  'language': u'Malay',
  'location_page': 'None',
  'name': u'1 Lawan Satu',
  'release_dates': [u' 27 June 2013 (Malaysia) '],
  'url': u'/title/tt3045716/',
  'year': u'2013'},
 {'budget': u'CAD',
  'country': u'Canada',
  'duration': u'58 min',
  'genre': [u'Action', u'Crime', u'Drama'],
  'language': u'English',
  'location_page': [u'Thunder Bay, Ontario, Canada '],
  'name': u'10-57',
  'release_dates': [u' 30 June 2013 (Canada) '],
  'url': u'/title/tt2934880/',
  'user_ratings': u'4.8',
  'user_ratings_count': u'5',
  'year': u'2013'},
 {'country': u'Australia',
  'duration': u'86 min',
  'genre': [u'Action', u'Drama', u'Thriller'],
  'language': u'English',
  'location_page': [u'Melbourne, Victoria, Australia '],
  'name': u'10 Metres',
  'release_dates': [u' November 2012 (Australia) '],
  'url': u'/title/tt2321472/',
  'user_ratings': u'6.1',
  'user_ratings_count': u'18',
  'year': u'2012'},
 {'country': u'Australia',
  'duration': u'88 min',
  'genre': [u'Horror', u'Thriller'],
  'language': u'English',
  'location_page': [u'Gold Coast, Queensland, Australia '],
  'name': u'10 Days to Die',
  'release_dates': [u' 12 November 2010 (Australia) '],
  'url': u'/title/tt1743906/',
  'user_ratings': u'3.7',
  'user_ratings_count': u'23',
  'year': u'2010'},
 {'budget': u'$3,500,000',
  'contentRating': u'Unrated',
  'country': u'USA',
  'critic_ratings': u'37/100',
  'duration': u'91 min',
  'genre': [u'Crime', u'Thriller'],
  'language': u'English',
  'location_page': [u'Los Angeles, California, USA '],
  'name': u'10 Cent Pistol',
  'release_dates': [u' 24 July 2015 (USA) '],
  'url': u'/title/tt2134170/',
  'user_ratings': u'5.0',
  'user_ratings_count': u'239',
  'year': u'2014'},
 {'country': u'USA',
  'duration': u'76 min',
  'genre': [u'Thriller'],
  'language': u'English',
  'location_page': [u'Ashland, Massachusetts, USA ',
   u'Boston, Massachusetts, USA ',
   u'Bunker Hill Community College - 250 N. Rutherford Avenue, Charlestown, Massachusetts, USA ',
   u'Bunker Hill, Charlestown, Massachusetts, USA ',
   u'Framingham, Massachusetts, USA ',
   u'Middleboro, Massachusetts, USA ',
   u'Somerville, Massachusetts, USA '],
  'name': u'10',
  'release_dates': [u' 10 March 2012 (USA) '],
  'url': u'/title/tt2170245/',
  'year': u'2012'},
 {'country': u'Spain',
  'duration': u'92 min',
  'genre': [u'Comedy', u'Drama', u'Romance'],
  'language': u'Spanish',
  'location_page': [u'Alcobendas, Madrid, Spain ',
   u'Campo de las Naciones, Madrid, Spain ',
   u'Centro Comercial El Encinar, Alcobendas, Madrid, Spain ',
   u'Centro Cultural Pablo Iglesias, Alcobendas, Madrid, Spain ',
   u'La Moraleja, Madrid, Spain ',
   u'Madrid, Spain ',
   u'Universidad Rey Juan Carlos, Madrid, Spain ',
   u'Video Encinar, Camino del Cura 10, Alcobendas, Madrid, Spain '],
  'name': u'10 pelis',
  'release_dates': [u' 10 June 2012 (USA) '],
  'url': u'/title/tt2123128/',
  'user_ratings': u'7.0',
  'user_ratings_count': u'28',
  'year': u'2011'},
 {'country': u'USA',
  'duration': u'83 min',
  'genre': [u'Comedy', u'Drama', u'Sci-Fi'],
  'language': u'English',
  'location_page': [u'Green Valley Lake, California, USA ',
   u'Green Valley, California, USA ',
   u'Los Angeles, California, USA '],
  'name': u'1,001 Ways to Enjoy the Missionary Position',
  'release_dates': [u' 28 October 2010 (USA) '],
  'url': u'/title/tt1430064/',
  'user_ratings': u'5.6',
  'user_ratings_count': u'29',
  'year': u'2010'},
 {'budget': u'$10,990,000',
  'country': u'India',
  'duration': u'170 min',
  'genre': [u'Action', u'Mystery', u'Thriller'],
  'language': u'Telugu',
  'location_page': [u'London Bridge, London, England, UK ',
   u'Belfast, County Antrim, Northern Ireland, UK ',
   u'Hyderabad, Telangana, India ',
   u'Belfast, County Antrim, Northern Ireland, UK ',
   u'Goa, India ',
   u'London, England, UK ',
   u'Goa, India ',
   u'London, England, UK ',
   u'Goa, India '],
  'name': u'1 - Nenokkadine',
  'release_dates': [u' 10 January 2014 (USA) '],
  'url': u'/title/tt2375559/',
  'user_ratings': u'8.7',
  'user_ratings_count': u'32,768',
  'year': u'2014'},
 {'budget': u'$2,500,000',
  'contentRating': u'TV-PG',
  'country': u'USA',
  'duration': u'91 min',
  'genre': [u'Sci-Fi'],
  'language': u'English',
  'location_page': 'None',
  'name': u'10,000 Days',
  'release_dates': [u' 23 November 2014 (USA) '],
  'url': u'/title/tt3530690/',
  'user_ratings': u'2.7',
  'user_ratings_count': u'313',
  'year': u'2014'},
 {'budget': u'\u20ac50,000',
  'country': u'France',
  'genre': [u'Thriller'],
  'language': u'French',
  'location_page': 'None',
  'name': u'1, rue du Caussanel',
  'release_dates': [u' 18 October 2013 (France) '],
  'url': u'/title/tt4548714/',
  'year': u'2013'},
 {'country': u'USA',
  'duration': u'77 min',
  'genre': [u'Animation', u'Biography', u'Drama'],
  'language': u'English',
  'location_page': 'None',
  'name': u'1-9',
  'release_dates': [],
  'url': u'/title/tt3226634/',
  'year': u'2013'},
 {'country': u'Sweden',
  'genre': [u'Comedy'],
  'language': u'Swedish',
  'location_page': 'None',
  'name': u'10 000 timmar',
  'release_dates': [u' 4 April 2014 (Sweden) '],
  'url': u'/title/tt3013386/',
  'user_ratings': u'4.3',
  'user_ratings_count': u'446',
  'year': u'2014'},
 {'country': u'South Korea',
  'duration': u'93 min',
  'genre': [u'Drama'],
  'language': u'Korean',
  'location_page': 'None',
  'name': u'10 Minutes',
  'release_dates': [u' 24 April 2014 (South Korea) '],
  'url': u'/title/tt3180640/',
  'user_ratings': u'7.4',
  'user_ratings_count': u'77',
  'year': u'2013'},
 {'country': u'Japan',
  'duration': u'80 min',
  'genre': [u'Drama'],
  'language': u'Japanese',
  'location_page': 'None',
  'name': u'1/11',
  'release_dates': [u' 5 April 2014 (Japan) '],
  'url': u'/title/tt3569968/',
  'year': u'2014'},
 {'country': u'Israel',
  'duration': u'84 min',
  'genre': [u'Comedy', u'Drama', u'Family'],
  'language': u'Hebrew',
  'location_page': 'None',
  'name': u'10% My Child',
  'release_dates': [u' 28 March 2015 (USA) '],
  'url': u'/title/tt2339406/',
  'user_ratings': u'6.5',
  'user_ratings_count': u'19',
  'year': u'2014'}]

In [293]:
fd = open("tempdata/movieinfo.json","w")
json.dump(movie_info_list, fd)
fd.close()

In [294]:
df = pd.DataFrame(movie_info_list)

In [295]:
df

         budget contentRating         country critic_ratings duration                          genre     gross   language                                      location_page                                         name opening_weekend                       release_dates                url user_ratings user_ratings_count  year
0           NaN           NaN             USA            NaN      NaN              [Comedy, Romance]       NaN    English                    [Los Angeles, California, USA ]                  10 Things I Hate About Life             NaN                      [ 2014 (USA) ]  /title/tt2402917/          NaN                NaN  2014
1           NaN           NaN         Finland            NaN   60 min                             []       NaN        NaN                                               None     1 Plus 1 Plus 1 - Sympathy for the Decay             NaN        [ September 2012 (Finland) ]  /title/tt2390346/          NaN                NaN  2012
2           NaN           NaN           Italy            NaN      NaN                       [Comedy]       NaN    Italian  [Florence, Tuscany, Italy , Greve in Chianti, ...                                   10 ragazze             NaN                    [ 2011 (Italy) ]  /title/tt1874387/          4.7                 28  2011
3           NaN           NaN             USA            NaN   83 min     [Comedy, Horror, Thriller]       NaN    English                                               None                                 1 Dead Party             NaN                                  []  /title/tt3118542/          6.2                 13  2013
4       $10,000           NaN             USA            NaN   78 min       [Action, Crime, Musical]       NaN    English                                               None                               1 911 Jak Boyz             NaN             [ 1 August 2011 (USA) ]  /title/tt2006036/          4.2                  5  2011
5           NaN           Not             USA            NaN   91 min                [Action, Crime]       NaN    English  [Astoria, Queens, New York City, New York, USA...                      1,000 Times More Brutal             NaN            [ 20 August 2012 (USA) ]  /title/tt1744760/          4.4                355  2012
6       $50,000           NaN           Spain            NaN   77 min                [Comedy, Drama]       NaN    Spanish                             [Mexico City, Mexico ]                                     1 para 1             NaN           [ 8 September 2013 (UK) ]  /title/tt3119776/          6.0                  5  2013
7           NaN           NaN          Turkey            NaN  105 min                       [Comedy]       NaN    Turkish                                               None                             10. Köy Teyatora             NaN             [ 2 May 2014 (Turkey) ]  /title/tt3746926/          4.1                 56  2014
8           NaN           NaN             USA            NaN   82 min                        [Drama]       NaN    English                                               None                                  10 Williams             NaN                                  []  /title/tt2357658/          NaN                NaN  2012
9           NaN           NaN             USA            NaN      NaN                        [Drama]       NaN    English  [Finchville, Kentucky, USA , Louisville, Kentu...                                    1 Message             NaN            [ 7 October 2011 (USA) ]  /title/tt1701202/          6.9                 22  2011
10          NaN           NaN             USA            NaN   90 min     [Adventure, Comedy, Music]       NaN    English                                               None                                    1 Nighter             NaN                      [ 2014 (USA) ]  /title/tt1327196/          6.1                 31  2012
11         €230           NaN         Ireland            NaN  150 min                             []       NaN    English                              [Waterford, Ireland ]                                 1 and a Half             NaN      [ 14 December 2012 (Ireland) ]  /title/tt2462560/          NaN                NaN  2012
12          NaN           NaN             USA            NaN  110 min                        [Drama]       NaN    English                                               None                                       1 in 3             NaN                                  []  /title/tt1611793/          8.1                 33  2010
13          CAD           NaN          Canada            NaN  108 min                        [Drama]       NaN     French                        [Montréal, Québec, Canada ]                                       10 1/2             NaN        [ 13 October 2010 (Canada) ]  /title/tt1591622/          7.2                453  2010
14          NaN           NaN             USA            NaN   88 min               [Action, Comedy]       NaN    English                                               None                              10.0 Earthquake             NaN           [ 15 October 2014 (USA) ]  /title/tt3488056/          3.8                384  2014
15          NaN           NaN          Taiwan            NaN  114 min                             []       NaN   Mandarin                                               None                                        10+10             NaN       [ 16 December 2011 (Taiwan) ]  /title/tt2243123/          6.5                188  2011
16       $1,000           NaN             USA            NaN   64 min                             []       NaN    English                     [Daytona Beach, Florida, USA ]           10 Days in Daytona: Bike Week 2012             NaN                                  []  /title/tt2281520/          NaN                NaN  2012
17          NaN           NaN           Japan            NaN      NaN                       [Comedy]       NaN   Japanese                                               None                                       1+1=11             NaN                    [ 2012 (Japan) ]  /title/tt2198094/          NaN                NaN  2012
18          NaN             R             USA          1/100   94 min              [Comedy, Romance]       NaN    English  [Charlotte, North Carolina, USA , New York Cit...                 10 Rules for Sleeping Around             NaN              [ 4 April 2014 (USA) ]  /title/tt1993391/          3.7              1,938  2013
19          NaN           NaN          Poland            NaN      NaN                       [Comedy]       NaN     Polish  [Gdansk, Pomorskie, Poland , Warsaw, Mazowieck...                                  1 000 000 $             NaN           [ 11 June 2010 (Poland) ]  /title/tt1807862/          3.5                 90  2010
20          NaN           NaN     Switzerland            NaN   50 min                             []       NaN        NaN                                               None                             1 Life. 1 Story.             NaN          [ 2 October 2011 (Japan) ]  /title/tt2087651/          NaN                NaN  2011
21          NaN           NaN             USA            NaN   89 min                        [Drama]       NaN    English                                               None                             1 Chance 2 Dance             NaN           [ 21 January 2014 (USA) ]  /title/tt2388856/          4.7                214  2014
22          NaN           NaN  Czech Republic            NaN  100 min              [Comedy, Romance]       NaN      Czech                                               None                 10 pravidel jak sbalit holku             NaN  [ 20 March 2014 (Czech Republic) ]  /title/tt3021744/          5.6                142  2014
23          NaN           NaN             NaN            NaN   83 min                      [Romance]       NaN        NaN                                                NaN                                        1+1=3             NaN                                  []  /title/tt2076898/          NaN                NaN  2012
24   $1,850,000           NaN             USA            NaN   90 min                        [Drama]       NaN    English  [Union Station - 800 NW 6th Avenue, Portland, ...                                   1 Out of 7             NaN              [ 9 March 2012 (USA) ]  /title/tt1523987/          6.4                 99  2011
25          NaN           NaN          France            NaN   95 min                [Comedy, Drama]       NaN     French  [Dijon, Côte-d'Or, France , Paris, France , Va...                               10 jours en or             NaN        [ 11 January 2012 (France) ]  /title/tt1729630/          5.2                119  2012
26          NaN           NaN             USA            NaN   98 min                [Comedy, Drama]       NaN    English                                               None                               10 Years Later             NaN             [ 26 March 2010 (USA) ]  /title/tt1079974/          6.9                 76  2010
27          NaN         PG-13             USA         61/100  100 min       [Comedy, Drama, Romance]  $201,146    English                                 [New Mexico, USA ]                                     10 Years         $22,707            [ 5 October 2012 (USA) ]  /title/tt1715873/          6.1             17,154  2011
28          NaN           NaN           India            NaN      NaN                     [Thriller]       NaN  Malayalam                                               None                                     1 by Two             NaN           [ 19 April 2014 (India) ]  /title/tt3686130/          5.3                229  2014
29      £65,000           NaN              UK            NaN      NaN                       [Action]       NaN    English                                               None                                           10             NaN            [ 1 November 2011 (UK) ]  /title/tt1941430/          3.2                 10  2011
30          NaN           NaN           Italy            NaN   96 min                       [Comedy]       NaN    Italian                              [Rome, Lazio, Italy ]                10 regole per fare innamorare             NaN           [ 16 March 2012 (Italy) ]  /title/tt2100371/          4.7                286  2012
31          NaN           NaN           Spain            NaN   90 min        [Comedy, Drama, Family]       NaN    English                                               None                                         1/20             NaN                                  []  /title/tt1669776/          NaN                NaN  2010
32          NaN           NaN           Japan            NaN      NaN                        [Drama]       NaN   Japanese                                               None          Boku to tsuma no 1778 no monogatari             NaN         [ 15 January 2011 (Japan) ]  /title/tt1545979/          7.1                196  2011
33          NaN           NaN              UK            NaN   90 min                       [Comedy]       NaN    English  [Three Mills Studios, Three Mill Lane, Bow, Lo...                         10 Arenas of Marwood             NaN            [ 1 December 2011 (UK) ]  /title/tt1800657/          NaN                NaN  2011
34          NaN           NaN        Malaysia            NaN   83 min                       [Action]       NaN      Malay                                               None                                 1 Lawan Satu             NaN         [ 27 June 2013 (Malaysia) ]  /title/tt3045716/          NaN                NaN  2013
35          CAD           NaN          Canada            NaN   58 min         [Action, Crime, Drama]       NaN    English                    [Thunder Bay, Ontario, Canada ]                                        10-57             NaN           [ 30 June 2013 (Canada) ]  /title/tt2934880/          4.8                  5  2013
36          NaN           NaN       Australia            NaN   86 min      [Action, Drama, Thriller]       NaN    English                  [Melbourne, Victoria, Australia ]                                    10 Metres             NaN       [ November 2012 (Australia) ]  /title/tt2321472/          6.1                 18  2012
37          NaN           NaN       Australia            NaN   88 min             [Horror, Thriller]       NaN    English               [Gold Coast, Queensland, Australia ]                               10 Days to Die             NaN    [ 12 November 2010 (Australia) ]  /title/tt1743906/          3.7                 23  2010
38   $3,500,000       Unrated             USA         37/100   91 min              [Crime, Thriller]       NaN    English                    [Los Angeles, California, USA ]                               10 Cent Pistol             NaN              [ 24 July 2015 (USA) ]  /title/tt2134170/          5.0                239  2014
39          NaN           NaN             USA            NaN   76 min                     [Thriller]       NaN    English  [Ashland, Massachusetts, USA , Boston, Massach...                                           10             NaN             [ 10 March 2012 (USA) ]  /title/tt2170245/          NaN                NaN  2012
40          NaN           NaN           Spain            NaN   92 min       [Comedy, Drama, Romance]       NaN    Spanish  [Alcobendas, Madrid, Spain , Campo de las Naci...                                     10 pelis             NaN              [ 10 June 2012 (USA) ]  /title/tt2123128/          7.0                 28  2011
41          NaN           NaN             USA            NaN   83 min        [Comedy, Drama, Sci-Fi]       NaN    English  [Green Valley Lake, California, USA , Green Va...  1,001 Ways to Enjoy the Missionary Position             NaN           [ 28 October 2010 (USA) ]  /title/tt1430064/          5.6                 29  2010
42  $10,990,000           NaN           India            NaN  170 min    [Action, Mystery, Thriller]       NaN     Telugu  [London Bridge, London, England, UK , Belfast,...                              1 - Nenokkadine             NaN           [ 10 January 2014 (USA) ]  /title/tt2375559/          8.7             32,768  2014
43   $2,500,000         TV-PG             USA            NaN   91 min                       [Sci-Fi]       NaN    English                                               None                                  10,000 Days             NaN          [ 23 November 2014 (USA) ]  /title/tt3530690/          2.7                313  2014
44      €50,000           NaN          France            NaN      NaN                     [Thriller]       NaN     French                                               None                          1, rue du Caussanel             NaN        [ 18 October 2013 (France) ]  /title/tt4548714/          NaN                NaN  2013
45          NaN           NaN             USA            NaN   77 min  [Animation, Biography, Drama]       NaN    English                                               None                                          1-9             NaN                                  []  /title/tt3226634/          NaN                NaN  2013
46          NaN           NaN          Sweden            NaN      NaN                       [Comedy]       NaN    Swedish                                               None                                10 000 timmar             NaN           [ 4 April 2014 (Sweden) ]  /title/tt3013386/          4.3                446  2014
47          NaN           NaN     South Korea            NaN   93 min                        [Drama]       NaN     Korean                                               None                                   10 Minutes             NaN     [ 24 April 2014 (South Korea) ]  /title/tt3180640/          7.4                 77  2013
48          NaN           NaN           Japan            NaN   80 min                        [Drama]       NaN   Japanese                                               None                                         1/11             NaN            [ 5 April 2014 (Japan) ]  /title/tt3569968/          NaN                NaN  2014
49          NaN           NaN          Israel            NaN   84 min        [Comedy, Drama, Family]       NaN     Hebrew                                               None                                 10% My Child             NaN             [ 28 March 2015 (USA) ]  /title/tt2339406/          6.5                 19  2014